@using Eltizam.Utility.Models;
@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer

@* @model List<Eltizam.Business.Models.MasterValuationFeesModel> *@
@{
    ViewData["Title"] = @MasterLocalizer["ValuationFeesList"];
    // RolePermissionModel objPermssion = (RolePermissionModel)ViewBag._objPermission;
    // string IsAddAllow = (objPermssion.Add) ? "" : "display: none";
    // string IsEditAllow = (objPermssion.Edit) ? "" : "display: none";
    // string IsDeleteAllow = (objPermssion.Delete) ? "" : "display: none";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
<div id="PlaceHolderHere"></div>
<main>
    <h3 class="dashboardTitle">VALUATION FEES MASTER</h3>
    <div class="flex justify-between mb-28 mobile_flexColumn position-relative">
        <div class="flex">
            <label class="searchBox position-relative">
                <div class="flex align-item-center">
                    <img src="../assets/search.svg" alt="search">
                    <input type="text" placeholder="Search for System" class="searchInput">
                </div>
                <button class="normalSearch">Search</button>
            </label>
            <div class="accordion">
                <input type="checkbox" id="section1" class="advancedSearch visible-in-web">
                <label for="section1" class="advaceSearhBtn"><img src="../assets/filter.svg" alt="filterSearch" /></label>
                <div class="accordion-content inputSearchs">
                    <h3 class="text-center">Advanced Search</h3>
                  @*   <form>
                        <div class="flex">
                            <label for="userName">
                                User Name
                                <input type="text" placeholder="enter user id">
                            </label>
                            <label for="valuatorType">
                                Valuator Type
                                <select name="Valuator" id="ValuatorType">
                                    <option value="Valuator1">Valuator type1</option>
                                    <option value="Valuator2">Valuator type2</option>
                                    <option value="Valuator3">Valuator type3</option>
                                </select>
                            </label>
                            <label for="resourceType">
                                Resource Type
                                <select name="Valuator" id="resourceType">
                                    <option value="resourceType1">Resource type1</option>
                                    <option value="resourceType2">Resource type2</option>
                                    <option value="resourceType3">Resource type3</option>
                                </select>
                            </label>
                            <label for="roleName">
                                Role Name
                                <select name="Valuator" id="roleName">
                                    <option value="roleName1">Role type1</option>
                                    <option value="roleName2">Role type2</option>
                                    <option value="roleName3">Role type3</option>
                                </select>
                            </label>
                        </div>
                        <div class="flex">
                            <label for="fromDate">
                                From Date
                                <input type="date">
                            </label>
                            <label for="toDate">
                                To Date
                                <input type="date">
                            </label>
                            <label for="designation">
                                Designation
                                <select name="Valuator" id="ValuatorType">
                                    <option value="Valuator1">Designation type1</option>
                                    <option value="Valuator2">Designation type2</option>
                                    <option value="Valuator3">Designation type3</option>
                                </select>
                            </label>
                            <label for="designation">
                                Department
                                <select name="Valuator" id="ValuatorType">
                                    <option value="Valuator1">Department type1</option>
                                    <option value="Valuator2">Department type2</option>
                                    <option value="Valuator3">Department type3</option>
                                </select>
                            </label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="blueBtn">Search</button>
                        </div>
                    </form> *@
                </div>
            </div>
        </div>
        <div class="buttonArea flex align-item-center">
            <button class="flex align-item-center blueBtn" onclick="valuationFeestView()">
                <a class="whiteAtag" asp-action="ValuationFeesManage"><img src="~/assets/plus.svg" alt="plus" /> @SharedLocalizer["Add New"]</a>
            </button>

           @*  <button class="flex align-item-center lineBtn exportFile">
                <img src="../assets/file-export.svg" alt="file-export"> Export
                <div class="actionItem">
                    <ul>
                        <li>
                            Excel XML
                        </li>
                        <li>
                            cSV
                        </li>
                    </ul>
                </div>
            </button> *@
        </div>
    </div>
    <div class="scroll-x">
        <input type="hidden" id="hdnBaseURL" value="@Configuration.GetSection("Apiconfig")["baseurl"]" />
        <table id="ValuationFeesTable" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>@MasterLocalizer["ValuationType"] </th> 
                    <th>@MasterLocalizer["PropertyType"]</th>
                    <th>@MasterLocalizer["ClientType"]</th>
                    <th>@MasterLocalizer["ValuationFeeType"]</th> 
                    <th>@MasterLocalizer["TotalValuationFees"]</th>
                    <th>@MasterLocalizer["IsActive"]</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
   @*  <div class="flex justify-between align-item-center mobile_flexColumn">
        <p>Showing <b>1</b> to <b>10</b> of <b>20</b> results</p>
        <div class="flex justify-between align-item-center pagination">
            <p>Previous</p>
            <ul class="flex justify-between">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
            </ul>
            <p>Next</p>
        </div>
    </div> *@
</main>


<div id="DeleteValuationModel" class="modal themeModal " role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label(@SharedLocalizer["DeleteConfirm"])
                        </div>
                    </div>
                </div>
                @Html.Hidden("ID")
                <div class="card-footer text-center">
                    <button type="button" onclick="DeleteValuation()" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                    <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section MyScripts {

    @Html.Partial("_DataTablePartial")

    @* <script type="text/javascript" src="~/js/Custom/Department/DepartmentManagement.js?v=@jsVersion"></script> *@
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/valuation/valuationmanagement.js?v=@jsVersion"></script>
    <script>

        var DeleteValuationByIdUrl = "@Eltizam.Web.Helpers.APIURLHelper.DeleteValuationById";
        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var StatusMessage = '@TempData["StatusMessage"]';


        //#region Setup API Url
        var ValuationFees = "@Eltizam.Web.Helpers.APIURLHelper.GetAllValuation";
       // var ResourceTypeList = "@Eltizam.Web.Helpers.APIURLHelper.GetResourceTypeList";
       // var RoleList = "@Eltizam.Web.Helpers.APIURLHelper.GetRoleList";
       // var DesignationList = "@Eltizam.Web.Helpers.APIURLHelper.GetDesignationList";
       // var DepartmentList = "@Eltizam.Web.Helpers.APIURLHelper.GetDepartmentList";
        //#region Static Messae Init
        var EditLabel = "@SharedLocalizer["Edit"]";
       
        
        var AddLabel = "@SharedLocalizer["Add"]";
        var UpdateLabel = "@SharedLocalizer["Update"]";
        var successCallBack = '@TempData[Eltizam.Web.Helpers.UserHelper.SuccessMessage]';
        if (successCallBack) {
            toastr.success(successCallBack);
        }


        function sideNavToggle() {
            var x = document.getElementById("sideNav");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }


                                        //#endregion
    </script>

}
