@using Eltizam.Utility.Models;
@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@using Eltizam.Utility.Enums

@model Eltizam.Business.Models.ValutionRequestListModel
@{
    ViewData["Title"] = @MasterLocalizer["Valuation List"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
    var objPermssion = (RolePermissionModel)ViewBag.Access;
    var isAdd = objPermssion.Add ? 1 : 0;
    var isDelete = objPermssion.Delete ? 1 : 0;
    var isEdit = objPermssion.Edit ? 1 : 0;
    var isApprove = objPermssion.Approve ? 1 : 0;
    var roleId = objPermssion.RoleId;
   
   
}
 

<div class="flex">
    <main class="w-100">
        <div class="flex justify-between mobile_flexColumn position-relative">
            <h3 class="dashboardTitle">Valuation List</h3>
            <div class="buttonArea flex align-item-center">
                <input type="hidden" id="isDeletePerm" value="@isDelete" />
                <input type="hidden" id="isAddPerm" value="@isAdd" />
                <input type="hidden" id="isApprovePerem" value="@isApprove" />
                @if (roleId != 2 && roleId != 3 )
                {
                    <form asp-action="ValuationRequestManage" asp-controller="ValuationRequest" method="GET">
                        <button class="flex align-item-center blueBtn mr-12" id="addNew">
                            <img src="~/assets/plus.svg" alt="plus"> Add New
                        </button>
                    </form>
                }


                @* @if (roleId == (int)RoleEnum.Approver || roleId == (int)RoleEnum.Valuer)
                {
                    <button class="flex align-item-center lineBtn exportFile" onclick="assignToggle()" id="isApprove">
                        <img src="../assets/user-shield.svg" alt="user">
                        ASSIGN
                    </button>
                } *@

                <button class="flex align-item-center lineBtn exportFile" onclick="assignToggle()" id="isApprove">
                    <img src="../assets/user-shield.svg" alt="user">
                    ASSIGN
                </button>

                
               
                <div class="accordion-content inputSearchs" id="assignToggle" style="display:none">
                    <div class="flex justify-between">
                        <h3>Assign</h3>
                        <span class="cursor-pointer" onclick="assignToggle()">X</span>
                    </div>
                    <form>
                        <div class="flex">
                            <label for="userName" class="w-100">
                                Remarks
                                <input type="text" id="Remarks" placeholder="Remarks" />
                            </label>
                            <label for="valuatorType" class="w-100">
                                Alternate Approver
                                @Html.DropDownList("ApproverId", new List<SelectListItem>{},  new { @class = "form-control disabletxtbox"})
                            </label>
                        </div>
                        <div class="text-center">
                            <button type="button" onclick="AssignRequest()" class="blueBtn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="accordion valueAdvance">



            <input type="checkbox" id="section1" class="advancedSearch visible-in-web">
            <label for="section1" class="advaceSearhBtn"><img src="../assets/filter.svg" alt="filterSearch" /></label>
            <div class="accordion-content inputSearchs">

                <h3 class="text-center">Advanced Search</h3>
                <form> 
                    <div class="flex">
                        <label for="userName">
                            User Name
                            @Html.TextBoxFor(model => model.UserName, new {   @placeholder = @SharedLocalizer["User Name"] })
                        </label>
                        <label for="ClientName">
                            Client Name 
                            @Html.TextBoxFor(model => model.ClientName, new {   @placeholder = @SharedLocalizer["ClientName"] })
                        </label>
                        <label for="PropertyName">
                            Property Name 
                            @Html.TextBoxFor(model => model.PropertyName, new {  @placeholder = @SharedLocalizer["PropertyName"] })
                        </label>
                        <label for="">
                            <p class="m-0">
                                Property Type 
                            </p>
                            @Html.DropDownListFor(model => model.PropertyTypeId, new List<SelectListItem> { }, new { }) 
                        </label>

                    </div>
                    <div class="flex"> 
                        <label for="Method of Valuation">
                            <p class="m-0">Method of Valuation</p>
                            @Html.DropDownListFor(model => model.ResourceId, new List<SelectListItem>(),  new {  @placeholder = @SharedLocalizer[" Select ResourceType"] })
                        </label>
                        <label for="">
                            <p class="m-0">Request Status </p> 
                            @Html.DropDownListFor(model => model.RequestStatusId, new List<SelectListItem> { }, new { })

                        </label>
                        <label for="CountryId">
                            <p class="m-0">Country</p>
                            @Html.DropDownListFor(model => model.CountryId, new List<SelectListItem> {}, new { @onchange = "BindState(this.options[this.selectedIndex].value)" })
                        </label>
                        <label for="StateId">
                            <p class="m-0">Emirate/State</p>
                            @Html.DropDownListFor(model => model.StateId, new List<SelectListItem> { }, new { @onchange = "BindCity(this.options[this.selectedIndex].value)" })
                        </label>
                        </div>

                      <div class="flex flex-start" style=" gap: 5px;">  
                        <label for="CityId">
                            <p class="m-0">City</p>
                            @Html.DropDownListFor(model => model.CityId, new List<SelectListItem> { }, new {  })
                        </label>
                        <label for="fromDate">
                            From Date
                            <input type="date" id="FromDate" name="FromDate" asp-for="FromDate">
                        </label>
                        <label for="toDate">
                            To Date
                            <input type="date" id="ToDate" name="ToDate" asp-for="ToDate">
                        </label> 
                    </div> 

                    <div class="text-center">
                        <button type="button" class="blueBtn" onclick="InitializeValutionRequestDataList()">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tableXscroll">
            <div class="scroll-x whiteWithPadding">
                <table id="ValuationRequestTable" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@MasterLocalizer["Id"] </th>
                            <th>@MasterLocalizer["Val No#"] </th>
                            <th>@MasterLocalizer["Location"] </th>
                            <th>@MasterLocalizer["Client Name"] </th>
                            <th>@MasterLocalizer["Property Name"] </th> 
                            <th>@MasterLocalizer["Property Use Type"]</th>
                            <th>@MasterLocalizer["Val. Purpose"]</th>
                            <th>@MasterLocalizer["Val. Method"]</th>
                            <th>@MasterLocalizer["Val. Date"]</th>
                            <th>@MasterLocalizer["Requestor"]</th>
                            <th>@MasterLocalizer["Approver"]</th>
                            <th>@MasterLocalizer["Valuer"]</th>
                            <th>@MasterLocalizer["Status"]</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>


<div id="DeletevalutionRequestModel" class="modal themeModal " role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label(@SharedLocalizer["DeleteConfirm"])
                        </div>
                    </div>
                </div>
                @Html.Hidden("Id")
                <div class="buttonArea popup-btn">
                    <button class="gray" data-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                    <button type="button" onclick="DeletePropertyType()" data-dismiss="modal" class="redBtn">@SharedLocalizer["Delete"]</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section MyScripts
    {
    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/custom/DynamicDataTable.js?v=@jsVersion"></script>
    
    <script type="text/javascript" src="~/js/custom/ValuationRequest/ValuationRequest.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/ValuationRequest/ValuationRequestFilter.js?v=@jsVersion"></script> 


    <script>

       
        var ApproverList = "@Eltizam.Web.Helpers.APIURLHelper.GetApproverList";
         var RoleList = "@Eltizam.Web.Helpers.APIURLHelper.GetRoleList";
        var GetAll = "@Eltizam.Web.Helpers.APIURLHelper.GetAllValuationRequest";
        var CountryList = "@Eltizam.Web.Helpers.APIURLHelper.GetCountryList";
         var StateList = "@Eltizam.Web.Helpers.APIURLHelper.GetStateListByCountryId";
         var CityList = "@Eltizam.Web.Helpers.APIURLHelper.GeCityListByStateId";
          var PropertyList = "@Eltizam.Web.Helpers.APIURLHelper.GetPropertyTypeList";
        var ValutionRequestStatusList = "@Eltizam.Web.Helpers.APIURLHelper.GetRequestStatus";
           var ResourceTypeList = "@Eltizam.Web.Helpers.APIURLHelper.ValuationMethod";

        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var StatusMessage = '@TempData["StatusMessage"]';


        var AssignApproverUrl = "@Eltizam.Web.Helpers.APIURLHelper.AssignApprover"

    </script>
}
