@using Eltizam.Utility.Models;
@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer


@model Eltizam.Business.Models.ValutionRequestListModel
@{
    ViewData["Title"] = @MasterLocalizer["valution List"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}


<div class="flex">
    <main class="w-100">
        <div class="flex justify-between mt-20 mobile_flexColumn position-relative">
            <h3 class="dashboardTitle">Valution List</h3>
            <div class="buttonArea flex align-item-center">



                <form asp-action="" asp-controller="" method="GET">
                    <button class="flex align-item-center blueBtn" id="addNew">
                        <img src="~/assets/plus.svg" alt="plus"> Add New
                    </button>
                </form>
            </div>
        </div>

        <div class="accordion valueAdvance">

            <input type="checkbox" id="section1" class="advancedSearch visible-in-web">
            <label for="section1" class="advaceSearhBtn"><img src="../assets/filter.svg" alt="filterSearch" /></label>
            <div class="accordion-content inputSearchs">

                <h3 class="text-center">Advanced Search</h3>
                <form>

                    <div class="flex">
                        <label for="userName">
                            User Name
                            @* <input type="text" name="UserName" id="UserName" placeholder="User Name" /> *@
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control",  @placeholder = @SharedLocalizer["User Name"] })
                        </label>
                        <label for="ClientName">
                            Client Name
                            @* <input type="text" name="UserName" id="UserName" placeholder="User Name" /> *@
                            @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control",  @placeholder = @SharedLocalizer["ClientName"] })
                        </label>
                        <label for="PropertyName">
                            Property Name
                            @* <input type="text" name="UserName" id="UserName" placeholder="User Name" /> *@
                            @Html.TextBoxFor(model => model.PropertyName, new { @class = "form-control",  @placeholder = @SharedLocalizer["PropertyName"] })
                        </label>
                        <label for="CountryId">
                            <p class="m-0">Country<span class="text-danger">*</span></p>
                            @Html.DropDownListFor(model => model.CountryId, new List<SelectListItem> { }, new {  @class = "form-control"})
                        </label>

                        <label for="StateId">
                            <p class="m-0">State<span class="text-danger">*</span></p>
                            @Html.DropDownListFor(model => model.StateId, new List<SelectListItem> { }, new {  @class = "form-control"})
                        </label>

                        <label for="CityId">
                            <p class="m-0">City<span class="text-danger">*</span></p>
                            @Html.DropDownListFor(model => model.CityId, new List<SelectListItem> { }, new {  @class = "form-control"})
                        </label>

                        <label for="">
                            <p class="m-0">
                                Property Type
                                <span class="text-danger">*</span>
                            </p>
                            @Html.DropDownListFor(model => model.PropertyTypeId, new List<SelectListItem> { }, new { @class = "form-control"})

                        </label>
                        <label for="">
                            <p class="m-0">
                                Request Status
                                <span class="text-danger">*</span>
                            </p>
                            @Html.DropDownListFor(model => model.RequestStatusId, new List<SelectListItem> { }, new { @class = "form-control"})

                        </label>
                        <label for="Method of Valuation">
                            <p class="m-0">Method of Valuation<span class="text-danger">*</span></p>
                            @Html.DropDownListFor(model => model.ResourceId, new List<SelectListItem>(),  new { @class = "form-control",  @placeholder = @SharedLocalizer[" Select ResourceType"] })
                            @Html.ValidationMessageFor(model => model.ResourceId, "", new { @class = "text-danger" })
                        </label>
                    </div>
                    <div class="flex">
                        <label for="fromDate">
                            From Date
                            <input type="date" id="FromDate" name="FromDate" asp-for="FromDate">
                        </label>
                        <label for="toDate">
                            To Date
                            <input type="date" id="ToDate" name="ToDate" asp-for="ToDate">
                        </label>

                    </div>
                    <div class="text-center">
                        <button type="submit" class="blueBtn" onclick="InitializeValutionRequestDataList()">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tableXscroll">
            <div class="scroll-x whiteWithPadding">
                <table id="ValuationRequestTable" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@MasterLocalizer["Val.Ref.No"] </th>
                            <th>@MasterLocalizer["Id"] </th>
                            <th>@MasterLocalizer["Client Name"] </th>
                            <th>@MasterLocalizer["Client Type"] </th>
                            <th>@MasterLocalizer["Location"] </th>
                            <th>@MasterLocalizer["Property Use Type"]</th>
                            <th>@MasterLocalizer["Valuation Purpose"]</th>
                            <th>@MasterLocalizer["Method of Valuation"]</th>
                            <th>@MasterLocalizer["Valuation Date"]</th>
                            <th>@MasterLocalizer["Requestor"]</th>
                            <th>@MasterLocalizer["Approver"]</th>
                            <th>@MasterLocalizer["Valuer"]</th>
                            <th>@MasterLocalizer["Status"]</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>


<div id="DeletevalutionRequestModel" class="modal themeModal " role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label(@SharedLocalizer["DeleteConfirm"])
                        </div>
                    </div>
                </div>
                @Html.Hidden("Id")
                <div class="buttonArea popup-btn">
                    <button class="gray" data-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                    <button type="button" onclick="DeletePropertyType()" data-dismiss="modal" class="redBtn">@SharedLocalizer["Delete"]</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section MyScripts
    {
    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>

    <script type="text/javascript" src="~/js/Custom/ValuationRequest/ValuationRequest.js?v=@jsVersion"></script>

    <script>

        $(document).ready(function () {
            BindRole();
            BindCountry();
            BindState();
            BindCity();
            BindPropertype();
            BindRequestStaus();
            BindResourceType();
        });


        function BindRole() {

            var RoleList = "@Eltizam.Web.Helpers.APIURLHelper.GetRoleList";
            var Role = $("#RoleId");
            var _val = "";
            var _rpname = "roleName";

            BindDropdowns(RoleList, Role, _rpname, _val);
        }

        function BindCountry() {

            var CountryList = "@Eltizam.Web.Helpers.APIURLHelper.GetCountryList";
            var Country = $("#CountryId");
            var _val = $('#hdnCountry').val();
            var _rpname = "countryName";
            BindDropdowns(CountryList, Country, _rpname, _val);
        }

        function BindState() {

            var StateList = "@Eltizam.Web.Helpers.APIURLHelper.GetStateList";
            var State = $("#StateId");
            var _val = $('#hdnState').val();
            var _rpname = "stateName";
            BindDropdowns(StateList, State, _rpname, _val);
        }

        function BindCity() {
            var CityList = "@Eltizam.Web.Helpers.APIURLHelper.GetCityList";
            var City = $("#CityId");
            var _val = $('#hdnCity').val();
            var _rpname = "cityName";
            BindDropdowns(CityList, City, _rpname, _val);
        }

        function BindPropertype() {
            //debugger
            var PropertyList = "@Eltizam.Web.Helpers.APIURLHelper.GetPropertyTypeList";
            var PropertyType = $("#PropertyTypeId");
            var _val = $('#hdnPropertyType').val();
            var _rpname = "propertyType";
            BindDropdowns(PropertyList, PropertyType, _rpname, _val);
        }

        function BindRequestStaus() {
            //debugger
            var ValutionRequestStatusList = "@Eltizam.Web.Helpers.APIURLHelper.GetAllValuationRequestStatus";
            var RequestStaus = $("#RequestStatusId");
            var _val = $('#hdnRequestStaus').val();
            var _rpname = "statusName";
            BindDropdowns(ValutionRequestStatusList, RequestStaus, _rpname, _val);
        }
        function BindResourceType() {

            var ResourceTypeList = "@Eltizam.Web.Helpers.APIURLHelper.GetResourceTypeList";
            var ResourceType = $("#ResourceId");
            var _val = $('#hdnResourceType').val();
            var _rpname = "resourceType";
            BindDropdowns(ResourceTypeList, ResourceType, _rpname, _val);
        }
        var GetAll = "@Eltizam.Web.Helpers.APIURLHelper.GetAllValuationRequest";

        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var StatusMessage = '@TempData["StatusMessage"]';
    </script>
}
