@using Eltizam.Utility.Models;
@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer


@model Eltizam.Business.Models.ValutionRequestListModel
@{
    ViewData["Title"] = @MasterLocalizer["valution List"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}


<div class="flex">
    <main class="w-100">
        <div class="flex justify-between mt-20 mobile_flexColumn position-relative">
            <h3 class="dashboardTitle">Valution List</h3>
            <div class="buttonArea flex align-item-center">



                <form asp-action="" asp-controller="" method="GET">
                    <button class="flex align-item-center blueBtn" id="addNew">
                        <img src="~/assets/plus.svg" alt="plus"> Add New
                    </button>
                </form>
            </div>
        </div>

        <div class="accordion valueAdvance">

            <input type="checkbox" id="section1" class="advancedSearch visible-in-web">
            <label for="section1" class="advaceSearhBtn"><img src="../assets/filter.svg" alt="filterSearch" /></label>
            <div class="accordion-content inputSearchs">

                <h3 class="text-center">Advanced Search</h3>
                <form>
                    <div class="flex">
                        <label for="userName">
                            User Name
                            <input type="text" name="UserName" id="UserName" placeholder="User Name" />
                        </label>
                        <label for="valuatorType">
                            Valuator Type
                            <select name="Valuator" id="ValuatorType">
                                <option value="Valuator1">Valuator type1</option>
                                <option value="Valuator2">Valuator type2</option>
                                <option value="Valuator3">Valuator type3</option>
                            </select>
                        </label>
                       
                        <label for="ResourceId">
                            Resource Type
                            @Html.DropDownListFor(model => model.ResourceId, new List<SelectListItem>(),  new { @placeholder = @SharedLocalizer[" Select ResourceType"] })
                        </label>
                       
                        <label for="RoleId">
                            Role
                            @Html.DropDownListFor(model => model.RoleId, new List<SelectListItem>(),  new { @placeholder = @SharedLocalizer[" Select Role"] })
                        </label>
                    </div>
                    <div class="flex">
                        <label for="fromDate">
                            From Date
                            <input type="date">
                        </label>
                        <label for="toDate">
                            To Date
                            <input type="date">
                        </label>
                        <label for="DesignationId">
                            Designation
                            @Html.DropDownListFor(model => model.DesignationId, new List<SelectListItem>(),  new { @class = "form-control",  @placeholder = @SharedLocalizer["Designation"] })
                        </label>
                        <label for="DepartmentId">
                            Department
                            @Html.DropDownListFor(model => model.DepartmentId, new List<SelectListItem>(),  new { @class = "form-control",  @placeholder = @SharedLocalizer["Department"] })

                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="blueBtn" onclick="InitializeValutionRequestDataList()">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tableXscroll">
            <div class="scroll-x whiteWithPadding">
                <table id="ValuationRequestTable" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@MasterLocalizer["Val.Ref.No"] </th>
                            <th>@MasterLocalizer["Id"] </th>
                            <th>@MasterLocalizer["Client Name"] </th>
                            <th>@MasterLocalizer["Client Type"] </th>
                            <th>@MasterLocalizer["Location"] </th>
                            <th>@MasterLocalizer["Property Use Type"]</th>
                            <th>@MasterLocalizer["Valuation Purpose"]</th>
                            <th>@MasterLocalizer["Method of Valuation"]</th>
                            <th>@MasterLocalizer["Valuation Date"]</th>
                            <th>@MasterLocalizer["Requestor"]</th>
                            <th>@MasterLocalizer["Approver"]</th>
                            <th>@MasterLocalizer["Valuer"]</th>
                            <th>@MasterLocalizer["Status"]</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>


<div id="DeletevalutionRequestModel" class="modal themeModal " role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label(@SharedLocalizer["DeleteConfirm"])
                        </div>
                    </div>
                </div>
                @Html.Hidden("Id")
                <div class="buttonArea popup-btn">
                    <button class="gray" data-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                    <button type="button" onclick="DeletePropertyType()" data-dismiss="modal" class="redBtn">@SharedLocalizer["Delete"]</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section MyScripts
    {
    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>

    <script type="text/javascript" src="~/js/Custom/ValuationRequest/ValuationRequest.js?v=@jsVersion"></script>

    <script>

        $(document).ready(function () {
            BindRole();
            BindResourceType();
            BindDepartment();
            BindDesignation();
           
        });


        function BindRole() {

            var RoleList = "@Eltizam.Web.Helpers.APIURLHelper.GetRoleList";
            var Role = $("#RoleId");
            var _val = "";
            var _rpname = "roleName";

            BindDropdowns(RoleList, Role, _rpname, _val);
        }

        function BindResourceType() {

            var ResourceTypeList = "@Eltizam.Web.Helpers.APIURLHelper.GetResourceTypeList";
            var ResourceType = $("#ResourceId");
            var _val = "";
            var _rpname = "resourceType";
            BindDropdowns(ResourceTypeList, ResourceType, _rpname, _val);
        }
        function BindDepartment() {
            var DepartmentList = "@Eltizam.Web.Helpers.APIURLHelper.GetDepartmentList";
            var Department = $("#DepartmentId");
            var _val = "";
            var _rpname = "department";

            BindDropdowns(DepartmentList, Department, _rpname, _val);
        }
        function BindDesignation() {
            var DesignationList = "@Eltizam.Web.Helpers.APIURLHelper.GetDesignationList";
            var Designation = $("#DesignationId");
            var _val = "";
            var _rpname = "designation";

            BindDropdowns(DesignationList, Designation, _rpname, _val);
        }
        var GetAll = "@Eltizam.Web.Helpers.APIURLHelper.GetAllValuationRequest";

        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var StatusMessage = '@TempData["StatusMessage"]';
    </script>
}
