@using Eltizam.Utility.Models;
@using System.Data;
@model Eltizam.Business.Models.ValuationRequestModel
@{
    var _dtSet = (DataSet)ViewBag.pdfdata;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
</head>
<body style="font-family: Calibri;
color: #181100;
padding: 0;
margin: 0;
box-sizing: border-box;
height: 100%;
min-height: 100%;
background-color: #fafafc;">
    <div style="width: 1280px;margin: auto;background: white;">
            <h3 style="padding: 24px 35px;margin-bottom: 25px;">Valuation Data</h3>
        <div style="display: flex;">
            <div style="margin-left: 33px;position: relative;top: -31px;margin-right: 40px;">

                <div id="PDFMainDiv" style="display: block; border-top: none;padding: 0;
    box-shadow: 0px 0px 12px 0px #00000012;
    margin-top: 15px;
    background-color: white;">
                    <h3 style="background-color: #576aa0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    color: white;
                    padding: 15px 12px;">Valuation Details</h3>
                    <div  style="padding: 20px;">
                        <form>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Valuation Reference no 
                                    <input type="text" value="@Model.ReferenceNo" placeholder="12837187236" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label  style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Other Reference no
                                    <input type="text" value="@Model.OtherReferenceNo" placeholder="12837187236" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label  style="
                                width: 23.5%;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Approver Name
                                    <input type="text" value="@Model.ApproverName" placeholder="Clyde" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label style="
                                width: 23.5%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Valuer Name 
                                    <input type="text"  value="@Model.ValuerName"  style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;" style="margin-bottom: 28px">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Valuation Status
                                    <input type="text"  value="@Model.ValuationRequestStatus"  placeholder="Pending" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Review Comment
                                    <input type="text"  value="@Model.ReviewComment"  placeholder="Pending" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>


                                <label for="" style="
                                width: 23.5%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Valuation Date
                                    <input type="text"  value="@Model.ValuationDate"  style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                width: 23.5%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Method of Valuation
                                    <input type="text"  value="@Model.MethodofValuation"  style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                </div>
                                <div style="margin: 10px 0 28px;
                                display: flex;
                                box-sizing: border-box;
                                flex-wrap: wrap;
                                justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Valuation Time Frame
                                    <input type="text"  value="@Model.ValuationTimeFrame"  placeholder="enter days" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                        </form>
                    </div>
                    <h3  style="background-color: #576aa0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    color: white;
                    padding: 15px 12px;">Client Details</h3>
                    <div style="padding: 20px;">
                        <form>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Client Type
                                    <input type="text" value="@_dtSet.Tables[1].Rows[0]["ClientType"].ToString()" placeholder="Client" 
                                    style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;" >
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Clients
                                    <input type="text" placeholder="" value="@_dtSet.Tables[1].Rows[0]["Clients"].ToString()" 
                                    style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Company Name
                                    <input type="text" value="@_dtSet.Tables[1].Rows[0]["Company"].ToString()" 
                                           placeholder="" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                               
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Pincode
                                    <input type="text" value="@_dtSet.Tables[1].Rows[0]["PinNo"].ToString()" placeholder="ABC" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Country
                                    <input type="text" placeholder="DEF" value="@_dtSet.Tables[1].Rows[0]["Country"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    State
                                    <input type="text" value="@_dtSet.Tables[1].Rows[0]["State"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    City
                                    <input type="text" value="@_dtSet.Tables[1].Rows[0]["City"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            gap: 24px;">

                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    TRN Number
                                    <input type="text"  value="@_dtSet.Tables[1].Rows[0]["TRNNumber"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    TRN Expiry Date
                                    <input type="text"  value="@_dtSet.Tables[1].Rows[0]["TRNExpiryDate"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    License Number
                                    <input type="text" value="@_dtSet.Tables[1].Rows[0]["LicenseNumber"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <h3>Address Details</h3>
                            <div>
                                <table style="
                                        border-collapse: collapse;
                                        width: 100%;
                                        border: 1px solid #ddd8d8;
                                        text-align: center;">
                                    <thead>
                                        <tr style="background: #576aa0;color: white;">
                                            <th style="padding: 10px;">Address 1</th>
                                            <th>Address 2</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Zip / PO Box</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(int i=0;i<@_dtSet.Tables[1].Rows.Count;i++)
                                        {                                        
                                        <tr style="background-color: #f1f1f2;
                                            border-bottom: 1px solid #576aa0;">
                                            <td>@_dtSet.Tables[1].Rows[i]["Address1"].ToString()</td>
                                           <td>@_dtSet.Tables[1].Rows[i]["Address2"].ToString()</td>
                                           <td>@_dtSet.Tables[1].Rows[i]["City"].ToString()</td>
                                           <td>@_dtSet.Tables[1].Rows[i]["State"].ToString()</td>
                                           <td>@_dtSet.Tables[1].Rows[i]["Country"].ToString()</td>
                                                <td>@_dtSet.Tables[1].Rows[i]["PinNo"].ToString()</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <h3>Contact Details</h3>
                            <div>
                                <table style="
                                        border-collapse: collapse;
                                        width: 100%;
                                        border: 1px solid #ddd8d8;
                                        text-align: center;">
                                    <thead>
                                        <tr style="background: #576aa0;color: white;">
                                            <th style="padding: 10px;">Contact Person Name	</th>
                                            <th>Department</th>
                                            <th>Designation</th>
                                            <th>Email ID	</th>
                                            <th>Phone Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < @_dtSet.Tables[2].Rows.Count; i++)
                                        {
                                             <tr style="background-color: #f1f1f2;
                                            border-bottom: 1px solid #576aa0;">
                                                <td>@_dtSet.Tables[2].Rows[i]["ContactPersonName"].ToString()</td>
                                                <td>@_dtSet.Tables[2].Rows[i]["Department"].ToString()</td>
                                                <td>@_dtSet.Tables[2].Rows[i]["Designation"].ToString()</td>
                                                <td>@_dtSet.Tables[2].Rows[i]["Email"].ToString()</td>
                                                <td>@_dtSet.Tables[2].Rows[i]["Mobile"].ToString()</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <h3 style="background-color: #576aa0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    color: white;
                    padding: 15px 12px;">Property Details</h3>
                    <div style="padding: 20px;">
                        <form>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Property Type
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["PropertyType"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;" >
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Property Sub Type
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["PropertySubType"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Ownership Type
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["OwnershipType"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Property Name
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["PropertyName"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Unit Type
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["UnitType"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Additional Units
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["AdditionalUnits"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Furnished
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["Furnished"].ToString()"  style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Purpose of Valuation
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["ValuationPurpose"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">

                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Built Up Area (Sq.Ft)
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["BuildUpAreaSqFt"].ToString()"  style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Built up Area (Sq.Meter)
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["BuildUpAreaSqMtr"].ToString()"  style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Age of construction (In Years)
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["AgeOfConstruction"].ToString()"   style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Parking
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["Parking"].ToString()"  style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>

                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            gap: 24px;">

                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Parking BAY Number
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["ParkingBayNo"].ToString()"  style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Description
                                    <input type="text" value="@_dtSet.Tables[3].Rows[0]["Description"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                        </form>
                    </div>
                    <h3 style="background-color: #576aa0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    color: white;
                    line-height: 120%;
                    padding: 15px 12px;"> Amenities</h3>
                    <div  style="padding: 20px;">
                        <form>
                            <div style="
                            margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        ">
                                 @for (int i = 0; i < @_dtSet.Tables[4].Rows.Count; i++)
                                {                                      
                                <label for="" style="
                                width: 28.5%;
                                display: flex;
                                border: 1px solid #e8e7e6;
                                border-radius: 4px;
                                padding: 0px 10px;
                                outline: none;
                                flex-direction: initial!important;
                                justify-content: flex-start!important;
                                align-items: center;
                                position: relative;
                            ">
                                        <input type="checkbox" placeholder="enter first name" style="
                                    background-color: #fff;
                                    border: 1px solid #3f392b;
                                    width: 18px;
                                    height: 18px;
                                    margin: 0;
                                    cursor: pointer;
                                    z-index: 1;
                                    padding: 0;
                                    margin-right: 10px;"

                                    @_dtSet.Tables[4].Rows[i]["IsAvailable"].ToString()
                                    >
                                    <p>@_dtSet.Tables[4].Rows[i]["AmenityName"].ToString()</p>
                                    <svg style="
                                    position: absolute;
                                    right: 20px;
                                    filter: invert(0.5);
                                " width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_13_52)">
                                        <path d="M2.898 12.581C3.18089 12.3413 3.51418 12.1684 3.87308 12.0753C4.23197 11.9821 4.60725 11.9711 4.971 12.043C5.53381 12.1528 6.03805 12.4621 6.391 12.914L6.81 11.891C6.59604 11.6986 6.35846 11.5343 6.103 11.402C6.4965 11.0729 6.77922 10.6307 6.91281 10.1354C7.04641 9.64008 7.0244 9.11568 6.84978 8.63332C6.67516 8.15097 6.35638 7.73401 5.93669 7.43902C5.51701 7.14402 5.01673 6.98528 4.50374 6.98432C3.99075 6.98336 3.48989 7.14024 3.0691 7.43366C2.64832 7.72709 2.32798 8.14286 2.15156 8.62456C1.97514 9.10626 1.95118 9.63057 2.08292 10.1264C2.21467 10.6221 2.49574 11.0654 2.888 11.396C2.66299 11.5118 2.45139 11.6519 2.257 11.814C1.86315 12.142 1.54636 12.5527 1.32911 13.0169C1.11187 13.4811 0.999502 13.9874 1 14.5V16H2V14.5C1.99949 14.1338 2.07969 13.772 2.2349 13.4403C2.39011 13.1086 2.61652 12.8152 2.898 12.581ZM3 9.49998C3 9.2033 3.08798 8.9133 3.2528 8.66662C3.41762 8.41995 3.65189 8.22769 3.92598 8.11416C4.20007 8.00063 4.50167 7.97092 4.79264 8.0288C5.08361 8.08668 5.35088 8.22954 5.56066 8.43932C5.77044 8.6491 5.9133 8.91637 5.97118 9.20734C6.02906 9.49831 5.99935 9.79991 5.88582 10.074C5.77229 10.3481 5.58003 10.5824 5.33336 10.7472C5.08668 10.912 4.79667 11 4.5 11C4.10234 10.9994 3.72112 10.8412 3.43993 10.5601C3.15874 10.2789 3.00053 9.89764 3 9.49998ZM21.103 11.402C21.4966 11.073 21.7795 10.6309 21.9132 10.1356C22.047 9.64037 22.0251 9.11597 21.8506 8.63356C21.6762 8.15115 21.3575 7.73409 20.9379 7.43897C20.5183 7.14384 20.0181 6.98494 19.5051 6.98382C18.9921 6.98271 18.4912 7.13943 18.0703 7.43272C17.6495 7.72602 17.329 8.14168 17.1524 8.62333C16.9759 9.10497 16.9517 9.62928 17.0833 10.1251C17.2149 10.6209 17.4958 11.0643 17.888 11.395C17.6629 11.511 17.4513 11.6516 17.257 11.814C17.231 11.835 17.213 11.864 17.187 11.886L17.599 12.892C17.8774 12.5452 18.2464 12.2822 18.6651 12.1324C19.0838 11.9825 19.5358 11.9516 19.971 12.043C20.5575 12.1763 21.0799 12.5083 21.4496 12.9827C21.8194 13.4571 22.0138 14.0447 22 14.646V16H23V14.646C23.008 13.984 22.8357 13.3323 22.5015 12.7608C22.1673 12.1893 21.6839 11.7196 21.103 11.402ZM18 9.49998C18 9.2033 18.088 8.9133 18.2528 8.66662C18.4176 8.41995 18.6519 8.22769 18.926 8.11416C19.2001 8.00063 19.5017 7.97092 19.7926 8.0288C20.0836 8.08668 20.3509 8.22954 20.5607 8.43932C20.7704 8.6491 20.9133 8.91637 20.9712 9.20734C21.0291 9.49831 20.9994 9.79991 20.8858 10.074C20.7723 10.3481 20.58 10.5824 20.3334 10.7472C20.0867 10.912 19.7967 11 19.5 11C19.1023 10.9994 18.7211 10.8412 18.4399 10.5601C18.1587 10.2789 18.0005 9.89764 18 9.49998ZM10 8.99998V7.99998C9.99932 7.69708 10.0678 7.39803 10.2002 7.12561C10.3326 6.85319 10.5254 6.61458 10.764 6.42798C11.0067 6.23826 11.2896 6.10655 11.591 6.04294C11.8924 5.97933 12.2043 5.9855 12.503 6.06098C12.9452 6.18987 13.332 6.46187 13.603 6.83432C13.8739 7.20677 14.0135 7.65861 14 8.11898V8.99998H15V8.11998C15.0028 7.58827 14.872 7.06439 14.6195 6.59645C14.367 6.12852 14.001 5.73154 13.555 5.44198C13.9615 5.11882 14.2573 4.67708 14.4013 4.17812C14.5453 3.67916 14.5303 3.14775 14.3585 2.65769C14.1866 2.16763 13.8664 1.74325 13.4423 1.4435C13.0183 1.14374 12.5114 0.983488 11.992 0.984996C11.4727 0.986504 10.9668 1.1497 10.5445 1.45191C10.1221 1.75412 9.8044 2.18035 9.6354 2.6714C9.46639 3.16245 9.4545 3.69394 9.60138 4.19206C9.74826 4.69017 10.0466 5.13018 10.455 5.45098C10.3478 5.50854 10.2443 5.57266 10.145 5.64298C9.78739 5.92283 9.49836 6.28061 9.29994 6.68907C9.10152 7.09752 8.99893 7.54588 9 7.99998V8.99998H10ZM10.5 3.49998C10.5 3.2033 10.588 2.91329 10.7528 2.66662C10.9176 2.41995 11.1519 2.22769 11.426 2.11416C11.7001 2.00063 12.0017 1.97092 12.2926 2.0288C12.5836 2.08668 12.8509 2.22954 13.0607 2.43932C13.2704 2.6491 13.4133 2.91637 13.4712 3.20734C13.5291 3.49831 13.4994 3.79991 13.3858 4.074C13.2723 4.34809 13.08 4.58236 12.8334 4.74718C12.5867 4.912 12.2967 4.99998 12 4.99998C11.6023 4.99945 11.2211 4.84124 10.9399 4.56005C10.6587 4.27886 10.5005 3.89764 10.5 3.49998ZM19.963 21.31L19.037 21.69L14.664 11H9.336L4.963 21.69L4.037 21.31L8.41 10.622C8.48476 10.4378 8.61287 10.2802 8.77787 10.1693C8.94287 10.0585 9.13723 9.99954 9.336 9.99998H14.664C14.8624 9.99944 15.0564 10.0582 15.2212 10.1686C15.386 10.2791 15.5141 10.4363 15.589 10.62L19.963 21.31Z" fill="white" stroke="white"/>
                                        <path d="M0 0H24V24H0V0Z" stroke="white"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_13_52">
                                        <rect width="24" height="24" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>

                                </label>
                                }
                            </div>
                           

                        </form>
                    </div>
                    <h3  style="background-color: #576aa0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    color: white;
                    padding: 15px 12px;">Property Location</h3>
                    <div style="padding: 20px;">
                        <form>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Country
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["Country"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;" >
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    State
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["State"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    City
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["City"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Sector /Zone
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["Zone"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Building Projects
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["BuildingProject"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Latitude
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["Latitude"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Longitude
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["Longitude"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Address
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["Address1"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            gap: 24px;">

                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Address (2)
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["Address2"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Zip / PO Box
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["Pincode"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Landmark
                                    <input type="text" value="@_dtSet.Tables[5].Rows[0]["Landmark"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                        </form>
                    </div>
                    <div>
                        <h3 style="background-color: #576aa0;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        color: white;
                        line-height: 120%;
                        padding: 15px 12px;">Quotation Listing</h3>
                        <div style="padding: 20px;">
                            <table style="
                                    border-collapse: collapse;
                                    width: 100%;
                                    border: 1px solid #ddd8d8;
                                    text-align: center;">
                                <thead>
                                    <tr style="background: #576aa0;color: white;">
                                        <th style="padding: 10px;">#Quotation</th>
                                        <th>Valuation Charges</th>
                                        <th>VAT  </th>
                                        <th>Other Charges</th>
                                        <th>Discount (%)</th>
                                        <th>Total Valuation Charge</th>
                                        <th>Creation Date</th>
                                        <th>Status  </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < @_dtSet.Tables[6].Rows.Count; i++)
                                    {
                                        <tr style="background-color: #f1f1f2;
                                        border-bottom: 1px solid #576aa0;">
                                            <td>@_dtSet.Tables[6].Rows[i]["Quotation"].ToString()</td>
                                            <td>@_dtSet.Tables[6].Rows[i]["ValuationFee"].ToString()</td>
                                            <td>@_dtSet.Tables[6].Rows[i]["VAT"].ToString()</td>
                                            <td>@_dtSet.Tables[6].Rows[i]["OtherCharges"].ToString()</td>
                                                <td>@_dtSet.Tables[6].Rows[i]["Discount"].ToString()</td>
                                            <td>@_dtSet.Tables[6].Rows[i]["TotalFee"].ToString()</td>
                                            <td>@_dtSet.Tables[6].Rows[i]["CreatedDate"].ToString()</td>
                                           <td><span style="border: 1px solid #25408f;padding: 3px;font-size: 12px;border-radius: 5px;">
                                                    @_dtSet.Tables[6].Rows[i]["Status"].ToString()
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <h3 style="background-color: #576aa0;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        color: white;
                        line-height: 120%;
                        padding: 15px 12px;">Invoice Listing</h3>
                        <div style="padding: 20px;">
                            <table style="
                                    border-collapse: collapse;
                                    width: 100%;
                                    border: 1px solid #ddd8d8;
                                    text-align: center;">
                                <thead>
                                    <tr style="background: #576aa0;color: white;">
                                        <th style="padding: 10px;">#Invoice</th>
                                        <th>Valuation Request Id</th>
                                        <th>Transaction Model	  </th>
                                        <th>Transaction Status	</th>
                                        <th>Amount</th>
                                        <th>Transaction Date	</th>
                                        <th>Creation Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@_dtSet.Tables[7].Rows.Count > 0)
                                    {
                                        @for (int i = 0; i < @_dtSet.Tables[7].Rows.Count; i++)
                                        {
                                            <tr style="background-color: #f1f1f2;
                                        border-bottom: 1px solid #576aa0;">
                                                <td>@_dtSet.Tables[7].Rows[i]["InvoiceNo"].ToString()</td>
                                                <td>@_dtSet.Tables[7].Rows[i]["ValuationRequestId"].ToString()</td>
                                                <td>@_dtSet.Tables[7].Rows[i]["TransactionId"].ToString()</td>
                                                <td>@_dtSet.Tables[7].Rows[i]["TransactionStatusId"].ToString()</td>
                                                <td>@_dtSet.Tables[7].Rows[i]["Amount"].ToString()</td>
                                                <td>@_dtSet.Tables[7].Rows[i]["TransactionDate"].ToString()</td>
                                                <td>@_dtSet.Tables[7].Rows[i]["CreatedDate"].ToString()</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3 style="background-color: #576aa0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    color: white;
                    padding: 15px 12px;">Structural Information</h3>
                    <div  style="padding: 20px;">
                        <form>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Location 
                                    <input type="text" value="@_dtSet.Tables[8].Rows[0]["Location"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Internal Area
                                    <input type="text" value="@_dtSet.Tables[8].Rows[0]["InternalArea"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                width: 23.5%;
                                display: flex;
                                flex-direction: column;
                            ">
                                    External Area
                                    <input type="text" value="@_dtSet.Tables[8].Rows[0]["ExternalArea"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                width: 23.5%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Floor
                                    <input type="text" value="@_dtSet.Tables[8].Rows[0]["Floor"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;" style="margin-bottom: 28px">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Room
                                    <input value="@_dtSet.Tables[8].Rows[0]["Room"].ToString()" type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Bedrooms
                                    <input value="@_dtSet.Tables[8].Rows[0]["Bedrooms"].ToString()"  type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>


                                <label for="" style="
                                width: 23.5%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Storage
                                    <input value="@_dtSet.Tables[8].Rows[0]["Storage"].ToString()" type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                width: 23.5%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Quantity
                                    <input type="text" value="@_dtSet.Tables[8].Rows[0]["Quantity"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                </div>
                                <div style="margin: 10px 0 28px;
                                display: flex;
                                box-sizing: border-box;
                                flex-wrap: wrap;
                                justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Additional Comment
                                    <input type="text"   value="@_dtSet.Tables[8].Rows[0]["AdditionComment"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                        </form>
                        <div style="border: 1px solid #f5eeee;
                        border-radius: 5px;">
                            <h3 style="background-color: #576aa0;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            color: white;
                            line-height: 120%;
                            margin-top: 0;
                            padding: 15px 12px;">External Information</h3>
                            <div style="padding: 20px;">
                                <div style="margin: 10px 0 28px;"  style="margin-bottom: 28px">
                                <label for="" style="
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 28px;
                                ">
                                    Property Condition
                                    <input  value="@_dtSet.Tables[8].Rows[0]["PropertyCondition"].ToString()" type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 28px;
                                ">
                                    Additional Notes
                                    <input type="text"  value="@_dtSet.Tables[8].Rows[0]["AdditionalNotes"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>


                                <label for="" style="
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 28px;">
                                    Others
                                        <input type="text" value="@_dtSet.Tables[8].Rows[0]["Others"].ToString()" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 style="background-color: #576aa0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    color: white;
                    padding: 15px 12px;">Comparable Evidences</h3>
                    <div  style="padding: 20px;">
                        <form>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Type 
                                    <input value="@_dtSet.Tables[9].Rows[0]["Type"].ToString()"  type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Size
                                    <input value="@_dtSet.Tables[9].Rows[0]["Size"].ToString()"  type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                width: 23.5%;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Remarks
                                    <input  value="@_dtSet.Tables[9].Rows[0]["Remarks"].ToString()"  type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                width: 23.5%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Rate (Sq.Ft) 
                                    <input  value="@_dtSet.Tables[9].Rows[0]["RateSqFt"].ToString()"  type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: flex-start;gap: 20px;" style="margin-bottom: 28px">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Price
                                    <input  value="@_dtSet.Tables[9].Rows[0]["Price"].ToString()"   type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Additional Comments
                                    <input value="@_dtSet.Tables[9].Rows[0]["AddtionalComments"].ToString()" type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>



                                </div>
                        </form>
                    </div>
                    <h3 style="background-color: #576aa0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    color: white;
                    padding: 15px 12px;">Valuation Evidences</h3>
                    <div  style="padding: 20px;">
                        <form>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: space-between;">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Market Value 
                                    <input  value="@_dtSet.Tables[10].Rows[0]["MarketValue"].ToString()"   type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Market Rent
                                    <input   value="@_dtSet.Tables[10].Rows[0]["MarketRate"].ToString()" type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                width: 23.5%;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Life of Building
                                    <input   value="@_dtSet.Tables[10].Rows[0]["LifeOfBuilding"].ToString()" type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                <label for="" style="
                                width: 23.5%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                            ">
                                    Annual Maintainance Cost
                                    <input   value="@_dtSet.Tables[10].Rows[0]["AnnualMaintainceCost"].ToString()" type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                            </div>
                            <div style="margin: 10px 0 28px;
                            display: flex;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            justify-content: flex-start;gap: 20px;" style="margin-bottom: 28px">
                                <label for="" style="width: 23.5%;display: flex;
                                flex-direction: column;">
                                    Insurance Details
                                    <input   value="@_dtSet.Tables[10].Rows[0]["InsuranceDetails"].ToString()" type="text" style="border: 1px solid #e8e7e6;
                                    border-radius: 4px;
                                    padding: 8px 10px;
                                    outline: none;
                                    margin-top: 5px;">
                                </label>
                                </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>