@model Eltizam.Business.Models.ValuationInvoicePaymentModel;
@using Eltizam.Business.Models
@using Eltizam.Utility.Models;
@using Eltizam.Web.Helpers
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@{
    string jsVersion = @Configuration.GetSection("StaticJS")["version"]; 

    var _header = " Valuation Invoice";
    var _md = @Model.Id > 0 ? "View" : "Add";
    ViewData["Title"] = _md + _header;

    var _valRegHeader = (ValuationRequestDependencies)TempData[UserHelper.ValReqHeader];
}
<!-- system user master -->
<form asp-action="ValuationInvoicesManage" autocomplete="off" asp-controller="ValuationRequest" method="post">
    <main>
        <div class="whiteBoxShadow">
            <div class="heading position-relative flex justify-between">
                <h3 class="dashboardTitle">@_md @_header</h3>
                <div class="hamburger">
                    <a class="greyBtn lineBtn formAbtn" asp-action="ValuationRequests">Valuation Requests</a>
                    <img src="../assets/right-arrow.svg" alt="hamburger-icon" />
                    <a class="greyBtn lineBtn formAbtn" href="ValuationRequestManage?id=@Model.ValuationRequestId">Valuation Details</a>
                    <img src="../assets/right-arrow.svg" alt="hamburger-icon" />
                    <input type="hidden" id="md" value="@_md" />
                    <span>@_md @_header</span>
                </div>
            </div>
            <div class="bodyContent">
                @if (_valRegHeader != null)
                {
                    var clr = @_valRegHeader.ColorCode;
                    <div class="whiteBoxShadow m-0" id="valReqHeader">
                        <div class=" position-relative flex justify-between align-item-center" style="margin: 10px 10px 5px 15px;font-size: 16px;">
                            <label style="font-size:16px;">
                                Val. Ref# : @_valRegHeader.ReferenceNO
                            </label>
                            <label style="font-size:16px;">
                                Client : @_valRegHeader.ClientName
                            </label>
                            <label style="font-size:16px;">
                                Property : @_valRegHeader.PropertyName
                            </label>
                            <label style="font-size:16px;">
                                Status : <label class="tableStatusBanner" style="color: @clr; background-color: @_valRegHeader.BackGroundColor; border: 1px solid @clr;">@_valRegHeader.StatusName</label>
                            </label>
                        </div>
                    </div>
                }

                <div class="inputSearchs p-0">
                    <div class="tabSection">
                        <input type="hidden" id="hdnValuationRequestId" value="@(Model == null ? 0 : Model.ValuationRequestId)" />
                        <input type="hidden" id="hdnTransactionModeId" value="@(Model == null ? 0 : Model.TransactionModeId)" />

                        @Html.HiddenFor(model=>model.Id)
                        @Html.HiddenFor(model=>model.ValuationRequestId)
                        <div class="flex">
                            <label for="" class="w-50">
                                <p class="m-0">TransactionMode<span class="text-danger">*</span></p>
                                @Html.DropDownListFor(model => model.TransactionModeId, new List<SelectListItem> { }, new { @class = "form-control searchable-dropdown"})
                                @Html.ValidationMessageFor(model => model.TransactionModeId, "", new { @class = "text-danger" })

                            </label>

                            <label for="TransactionDate">
                                <p class="m-0">
                                    Transaction Date
                                    <span class="text-danger">*</span>
                                </p>
                                <input type="text" id="TrnexpiryDate" name="TransactionDate" class="formatted-date-input" asp-for="TransactionDate" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                                @Html.ValidationMessageFor(model => model.TransactionDate, "", new { @class = "text-danger" })
                            </label>
                        </div>  
                        
                        <div class="flex">
                            <label for="InvoiceNo" class="w-50">
                                <p class="m-0">InvoiceNo<span class="text-danger">*</span></p>
                                @Html.TextBoxFor(model => model.InvoiceNo,  new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
                            </label>
                            <label for="Amount" class="w-50">
                                Amount
                                @Html.TextBoxFor(model => model.Amount,  new { @class = "form-control  " })
                            </label>
                        </div>
                        <div class="flex">
                            <label for="" class="w-50">
                                Balance
                                @Html.TextBoxFor(model => model.Balance,  new { @class = "form-control  " })
                            </label> 
                        </div> 

                        <div class="text-right buttonArea bodyContent plr-0">
                            <a href="/ValuationRequest/ValuationRequestManage?id=@Model.ValuationRequestId">
                                <button type="button" class="lineBtn greyBtn mr-12">Cancel</button>
                            </a>
                            <button type="submit" class="bgBlue">Save</button> 
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main>
</form>




@section MyScripts {
    <script type="text/javascript" src="~/js/custom/ValuationRequest/ValuationInvoiceManage.js?v=@jsVersion"></script>
    <script>
        
        var GetDictionaryWithSubDetails = "@Eltizam.Web.Helpers.APIURLHelper.GetDictionaryWithSubDetails";
        var GetPaymentInvoiceById = "@Eltizam.Web.Helpers.APIURLHelper.GetPaymentInvoiceById";
       
    </script>
}}