@using Eltizam.Utility.Models;
@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["ClientType"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
@model Eltizam.Business.Models.Master_ClientTypeModel

    <!-- system user master -->
    <div class="flex">
       
       
            
            <main>
                <h3 class="dashboardTitle">CLIENT TYPE MASTER</h3>
                <div class="flex justify-between mb-28 mobile_flexColumn position-relative">
                    <div class="flex">
                        <label class="searchBox position-relative">
                            <div class="flex align-item-center">
                                <img src="../assets/search.svg" alt="search">
                            <input type="text" id="txtClientType" placeholder="Search for System" class="searchInput">
                            </div>
                        <button class="normalSearch" onclick="ClientTypeList()">Search</button>
                        </label>
                    </div>
                    <div class="buttonArea flex align-item-center">
                        <button class="flex align-item-center blueBtn" id="addRole">
                            <img src="../assets/plus.svg" alt="plus"> Add New
                        </button>
                        
                        
                        <button class="flex align-item-center lineBtn" id="importFile">
                            <img src="../assets/file-import.svg" alt="file-import"/>
                            Import
                        </button>

                        <button class="flex align-item-center lineBtn exportFile">
                            <img src="../assets/file-export.svg" alt="file-export"> Export
                            <div class="actionItem">
                                <ul>
                                    <li>
                                        Excel XML
                                    </li>
                                    <li>
                                        CSV
                                    </li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="scroll-x">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Client Type</th>
                                <th>IsActive</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="ClientType">

                        </tbody>
                    </table>
                </div>
                <div class="flex justify-between align-item-center mobile_flexColumn">
                    <p>Showing <b>1</b> to <b>10</b> of <b>20</b> results</p>
                    <div class="flex justify-between align-item-center pagination">
                        <p>Previous</p>
                        <ul class="flex justify-between">
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                        <p>Next</p>
                    </div>
                </div>
            </main>
            <footer class="flex justify-between">
                <p>2023 © Eltizam.</p>
                <p>Design & Develop by NeoSoft</p>
            </footer>
           

            <!-- popup import model -->
            <div class="popup-overlay" id="popup-import-overlay">
                <div class="popup">
                    <div class="content text-center">
                        <div class="popup-head position-relative">Import Property Type
                            <img src="../assets/x.svg" alt="x" id="closePopup">
                        </div>
                        <div class="popup-action importBox">
                            <p class="text-left">Browse File</p>
                            <div class="inputBox">
                                <input type="file" name="file" id="file" class="file"/>
                                <div class="flex">
                                    <input type="text" name="file-name" id="file-name" class="w-100" readonly="readonly" placeholder="Doc Name"/>
                                    <div class="uploadFileBtn flex">
                                        <img src="../assets/files.svg" alt="file">
                                        <input type="button" class="btn" value="Browse"/>
                                    </div>
                                </div>
                            </div>
                            <div class="buttonArea popup-btn">
                                <button class="bgBlue">Submit</button>
                                <button class="lineBtn">Download Template</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- popup add property type model -->
            <div class="popup-overlay w-800Popup" id="popup-addRole-overlay">
                <div class="popup">
                    <div class="content text-center">
                        <div class="popup-head position-relative">Add Property Type
                            <img src="../assets/x.svg" alt="x" id="closePopup" class="addRoleClose">
                        </div>
                        <div class="popup-action inputSearchs">
                            <form asp-action="ClientType" method="post">
                                <div class="flex">
                                    <label for="ClientType">
                                    ClientType
                                        @Html.TextBoxFor(m => m.ClientType, new {@class = "form-control",  @placeholder = @SharedLocalizer["Client Type"] })
                                    </label>
                                    <label for="IsActive">
                                        Status
                                        <div>
                                            Active : @Html.RadioButtonFor(m => m.IsActive, true)
                                            IsActive : @Html.RadioButtonFor(m => m.IsActive, false)
                                        </div>
                                    </label>
                                </div>
                            <div class="buttonArea centerBtn">
                                <button class="bgBlue">Submit</button>
                            </div>

                        </form>
                        </div>
                    </div>
                </div>
            </div>

             <!-- popup delete model -->
             <div class="popup-overlay" id="popup-delete-overlay">
                <div class="popup">
                    <div class="content text-center">
                        <div class="popup-head">Delete User</div>
                        <div class="popup-action">
                            <p>Are you sure you want to delete?</p>
                            <div class="buttonArea popup-btn">
                                <button id="cancelDeleteUser">Cancel</button>
                                <button class="redBtn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
            
            <!-- popup edit property type model -->
            <div class="popup-overlay w-800Popup" id="popup-editProp-overlay">
                <div class="popup">
                    <div class="content text-center">
                        <div class="popup-head position-relative">Edit Property Type
                            <img src="../assets/x.svg" alt="x" id="closePopup" onclick="closePropType()">
                        </div>
                        <div class="popup-action inputSearchs">
                            <form>
                                <div class="flex">
                                    <label for="">
                                        Property Type Namee
                                        <select name="propertyTypeName" id="propertyTypeName">
                                            <option value="countryName1">Property Type Name</option>
                                            <option value="countryName2">Property Type Name</option>
                                            <option value="countryName3">Property Type Name</option>
                                        </select>
                                    </label>
                                    <label for="regionMaster">
                                        Property Sub-Type Name
                                        <select name="propertySubTypeName" id="propertySubTypeName">
                                            <option value="propertySubTypeName">Property SUb Type Name</option>
                                            <option value="propertySubTypeName">Property Sub Type Name</option>
                                            <option value="propertySubTypeName">Property Sub Type Name</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="flex">
                                    <label for="resourceType">
                                        Status
                                        <input class='input-switch' type="checkbox" id="addLocation"/>
                                        <label class="label-switch" for="addLocation"></label>
                                        <span class="info-text"></span>
                                    </label>
                                </div>
                            </form>
                            <div class="buttonArea centerBtn">
                                <button class="bgBlue">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- popup view property type model -->
            <div class="popup-overlay w-800Popup" id="popup-viewProp-overlay">
                <div class="popup">
                    <div class="content text-center">
                        <div class="popup-head position-relative">View Property Type
                            <img src="../assets/x.svg" alt="x" id="closePopup" onclick="closeviewPropType()">
                        </div>
                        <div class="popup-action inputSearchs">
                            <form>
                                <div class="flex">
                                    <label for="">
                                        Property Type Namee
                                        <select name="propertyTypeName" id="propertyTypeName">
                                            <option value="countryName1">Property Type Name</option>
                                            <option value="countryName2">Property Type Name</option>
                                            <option value="countryName3">Property Type Name</option>
                                        </select>
                                    </label>
                                    <label for="regionMaster">
                                        Property Sub-Type Name
                                        <select name="propertySubTypeName" id="propertySubTypeName">
                                            <option value="propertySubTypeName">Property SUb Type Name</option>
                                            <option value="propertySubTypeName">Property Sub Type Name</option>
                                            <option value="propertySubTypeName">Property Sub Type Name</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="flex">
                                    <label for="resourceType">
                                        Status
                                        <input class='input-switch' type="checkbox" id="addLocation"/>
                                        <label class="label-switch" for="addLocation"></label>
                                        <span class="info-text"></span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    

<input type="hidden" id="hdnBaseURL" value="@Configuration.GetSection("Apiconfig")["baseurl"]" />
<input type="hidden" id="hdnWebBaseURL" />
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script src="~/js/custom.js"></script>
    <script src="../js/propTypeMaster.js"></script>

    <script>
    // edit role js function for delete user popup
    const editRolePopup = document.getElementById("popup-editProp-overlay");
    const viewPropPopup = document.getElementById("popup-viewProp-overlay");

    function edit() {
        editRolePopup.classList.add("display-block");
    }
    function closePropType() {
        editRolePopup.classList.remove("display-block")
    }
    function viewProp() {
        viewPropPopup.classList.add("display-block");
    }

    function closeviewPropType() {
        viewPropPopup.classList.remove("display-block")
    }


    // add location js function to upload file
    document.addEventListener("DOMContentLoaded", () => {
        const addRole = document.getElementById("addRole");
        const addRolePopup = document.getElementById("popup-addRole-overlay");
        const closePopup = document.querySelector(".addRoleClose");

        addRole.addEventListener("click", () => addRolePopup.classList.add("display-block"));
        closePopup.addEventListener("click", () => addRolePopup.classList.remove("display-block"));
    });

        //#region Setup API Url
        var AllClientType = "@Eltizam.Web.Helpers.APIURLHelper.GetSearchClientType";
    $(document).ready(function () {
        ClientTypeList();
    });
    function ClientTypeList() {
        var AllClientType = "@Eltizam.Web.Helpers.APIURLHelper.GetSearchClientType";
        debugger
        var search = {
            'searchText': $("#txtClientType").val(),
        }
        var paging = {
            'pageNo': 1,
            'pageSize': 10,
            'sortName': 'Id',
            'sortType': 'ASC'
        }
        var data1 = {
            'paging': paging,
            'search': search
        }
        debugger
        $.ajax({
            "url": $('#hdnBaseURL').val() + AllClientType,
            "type": "POST",
            "data": data1,
            "datatype": "json",
            success: function (response) {
                debugger
                var dt = response;
                $(".ClientType").empty();
                var r = "";
                for (var i = 0; i < dt.data.length; i++) {
                    r += " <tr>";
                    r += "     <td>" + dt.data[i].id + "</td>";
                    r += "      <td>" + dt.data[i].clientType + "</td>";
                    r += "      <td>" + (dt.data[i].isActive=1?'YES':'NO') + "</td>";
                    r += "      <td class='position-relative'> <img src='../assets/dots-vertical.svg' alt='dots-vertical' class='activeDots' />";
                    r += "      <div class='actionItem'> <ul>";
                    r += "     <li onClick='view('" + dt.data[i].id + "')' ><img src='~/assets/view.svg' alt = 'view' /> view </li> ";
                    r += "     <li> <a href='/MasterClientType/ClientTypeManage?id=" + dt.data[i].id + "'><img src='../assets/edit.svg' alt = 'edit' /> Edit </a></li> ";
                    //r += "      <li class='delete'> <img src='~/assets/trash.svg' alt = 'trash' /> Delete </li> ";
                    r += "      </ul> </div> </td>";
                    r += " </tr>";
                }
                $(".ClientType").append(r);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


</script>