@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer

@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model Eltizam.Business.Models.MasterValuationFeesModel
@{
    ViewData["Title"] = @MasterLocalizer["ValuationFeesManage"];
    string PageHeading = "";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"]; 
} 

<form asp-action="ValuationFeesManage">
    <main>
        <div class="whiteBoxShadow">
            <div class="heading position-relative">
                <h3 class="dashboardTitle">Valuation Fees View</h3>
            </div>
            <div class="bodyContent">
                <div class="inputSearchs">
                    <form>
                        <div class="flex mb-28">
                            @Html.HiddenFor(model => model.Id, new { @class = "control-label" })
                            <label for="" class="w-50">
                                @Html.LabelFor(model => model.PropertyType, new { @class = "control-label" })
                                <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.PropertyType, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @placeholder = @MasterLocalizer["Property Name"] } })
                                @Html.ValidationMessageFor(model => model.PropertyType, "", new { @class = "text-danger" })
                            </label> 
                        </div> 
                    </form> 
                </div>
            </div>
        </div>
    </main>
</form>

