@model Eltizam.Business.Models.MasterVendorModel;

@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@{
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
    var _header = "Vendor Manage";
    var _md = "View";
    var htmlAttributes = true;
    ViewData["Title"] = _md + _header;
}
 
<main>
    <div class="whiteBoxShadow">
        <div class="heading position-relative flex justify-between">
            <h3 class="dashboardTitle">@_md @_header</h3>
            <div class="hamburger">
                <a class="greyBtn lineBtn formAbtn" asp-action="Vendors">@_header</a>
                <img src="../assets/right-arrow.svg" alt="hamburger-icon" />
                <span>@_md</span>
            </div>
        </div>
        <div class="bodyContent">
            <div class="profileTabSection">
                <div class="tab">
                    <button class="tablinks" onclick="profileTab(event, 'profile1')" id="defaultOpen">Vendor Details</button>
                    <button class="tablinks" onclick="profileTab(event, 'profile2')">Mailing Address</button>
                    <button class="tablinks" onclick="profileTab(event, 'profile3')">Contact Details</button>
                </div>

                <form asp-action="VendorManage" method="POST" enctype="multipart/form-data">
                    <input type="hidden" id="hdnId" asp-for="Id" value="@(Model == null ? 0 : Model.Id)" />
                    <div id="profile1" class="tabcontent">
                        @* <h3 class="ptrl-20">Clinet Details</h3> *@
                        <div class="inputSearchs">
                            <div class="tabSection">
                                <div class="flex">
                                    <div class="flex justify-center mb-28">
                                        <div class="resourceProfile clientImg text-center">
                                            <img src="../assets/client1.png" alt="img-7" />
                                        </div>
                                    </div>
                                    <label for="Status" class="w-50">
                                        Status
                                        <input type="checkbox" id="addLocation" class="input-switch" name="IsActive" disabled value="@Model.Status" @(Model.Status == 1 ? "checked" : "") />
                                        <label class="label-switch" for="addLocation"></label>
                                        <span class="info-text" style="top:-20px;"></span>
                                    </label>
                                </div>
                                <div class="flex">
                                    <label for="VendorName">
                                        Vendor Name
                                        @Html.TextBoxFor(model => model.VendorName, new {@disabled=htmlAttributes, @class = "form-control",  @placeholder = @SharedLocalizer["Vendor Name"] })

                                    </label>
                                    <label for="CompanyName">
                                        Company Name
                                        @Html.TextBoxFor(model => model.CompanyName, new {@disabled=htmlAttributes, @class = "form-control",  @placeholder = @SharedLocalizer["Company Name"] })
                                    </label>
                                </div>
                                <div class="flex">
                                    <label for="EstimattionDate">
                                        Estimation Date
                                        <input type="date" id="EstimattionDate" name="EstimattionDate" asp-for="EstimattionDate" disabled />
                                    </label>
                                    <label for="BusinessTypeId">
                                        Business Type
                                        @Html.TextBoxFor(model => model.BusinessType, new {@disabled=htmlAttributes, @class = "form-control",  @placeholder = @SharedLocalizer["Business Type"] })
                                    </label>
                                </div>
                                <div class="flex">
                                    <label for="CompanyDescription">
                                        Company Description
                                        @Html.TextBoxFor(model => model.CompanyDescription, new {@disabled=htmlAttributes, @class = "form-control",  @placeholder = @SharedLocalizer["Company Description"] })
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="profile2" class="tabcontent">
                        @* <h3 class="ptrl-20">Mailing Address</h3> *@
                        <div class="inputSearchs p-0">
                            <div class="tabSection">
                                <input type="hidden" id="hdnCountry" value="@(Model.Address == null ? 0 : Model.Address.CountryId)" />
                                <input type="hidden" id="hdnState" value="@(Model.Address == null ? 0 : Model.Address.StateId)" />
                                <input type="hidden" id="hdnCity" value="@(Model.Address == null ? 0 : Model.Address.CityId)" />
                                @Html.HiddenFor(model => model.Address.Id)
                                <div class="addMoreAddress roundBorderBox">
                                    <div class="flex justify-between accordianDetails position-relative" onclick="accordianToggle(this)">
                                        <p>Mailing Address Section</p>
                                        <img src="../assets/right-arrow.svg" alt="right-arrow" class="right-arrow-menu">
                                    </div>
                                    <div class="pannel" style="height:auto;overflow:hidden">
                                        <div class="flex">
                                            <label for="address1">
                                                <span>Address Line 1 </span>
                                                @Html.TextBoxFor(model => model.Address.Address1, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Address Line 1"] })
                                            </label>
                                            <label for="address2">
                                                Address Line 2
                                                @Html.TextBoxFor(model => model.Address.Address2, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Address Line 2"] })
                                            </label>
                                        </div>
                                        <div class="flex">
                                            <label for="CountryId">
                                                CountryId
                                                @Html.DropDownListFor(model => model.Address.CountryId, new List<SelectListItem> { }, new { @disabled=htmlAttributes, @class = "form-control"})
                                            </label>
                                            <label for="StateId">
                                                State
                                                @Html.DropDownListFor(model => model.Address.StateId, new List<SelectListItem> { }, new { @disabled=htmlAttributes, @class = "form-control"})
                                            </label>
                                        </div>
                                        <div class="flex">
                                            <label for="CityId">
                                                City
                                                @Html.DropDownListFor(model => model.Address.CityId, new List<SelectListItem> { }, new { @disabled=htmlAttributes, @class = "form-control"})
                                            </label>
                                            <label for="PinNo">
                                                Pin Code
                                                @Html.TextBoxFor(model => model.Address.PinNo, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Pin No"] })
                                            </label>
                                        </div>
                                        <div class="flex">
                                            <label for="Email">
                                                Email
                                                @Html.TextBoxFor(model => model.Address.Email, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Email"] })
                                            </label>
                                            <label for="AlternateEmail">
                                                Alternate Email
                                                @Html.TextBoxFor(model => model.Address.AlternateEmail, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Alternate Email"] })
                                            </label>
                                        </div>
                                        <div class="flex">
                                            <label for="Phone">
                                                Phone
                                                @Html.TextBoxFor(model => model.Address.Phone, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Phone"] })
                                            </label>
                                            <label for="AlternatePhone">
                                                Alternate Phone
                                                @Html.TextBoxFor(model => model.Address.AlternatePhone, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Alternate Phone"] })
                                            </label>
                                        </div>
                                        <div class="flex">
                                            <label for="">
                                                Landline phone
                                                @Html.TextBoxFor(model => model.Address.Landlinephone, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Landline phone"] })
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="profile3" class="tabcontent">
                        @* <h3 class="ptrl-20">Contact Details</h3> *@
                        <div class="roundBorderBox">
                            <div class="flex justify-between accordianDetails position-relative" onclick="accordianToggle(this)">
                                <p>Qualification Section</p>
                                <img src="../assets/right-arrow.svg" alt="right-arrow" class="right-arrow-menu">
                            </div>
                            <div class="pannel mt-28" style="height:auto;overflow:hidden">
                                <div class="text-right">
                                    @* <img src="../assets/minus-icon.svg" alt="minus-icon" class="minus-icon" onClick="removeParentDiv(this)" /> *@
                                </div>
                                <div class="inputSearchs p-0">

                                    <div class="tabSection">
                                        @Html.HiddenFor(model => model.Contact.Id)
                                        <div class="flex">
                                            <label for="Qualification">
                                                Contact Person Name
                                                @Html.TextBoxFor(model => model.Contact.ContactPersonName, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Qualification"] })
                                            </label>
                                            <label for="Subject">
                                                Department
                                                @Html.TextBoxFor(model => model.Contact.Department, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Department"] })
                                            </label>
                                        </div>
                                        <div class="flex">
                                            <label for="Institute">
                                                Designation
                                                @Html.TextBoxFor(model => model.Contact.Designation, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Designation"] })
                                            </label>
                                            <label for="year">
                                                Email
                                                @Html.TextBoxFor(model => model.Contact.Email, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Email"] })
                                            </label>
                                        </div>
                                        <div class="flex">
                                            <label for="grade" class="w-50">
                                                Phone Number
                                                @Html.TextBoxFor(model => model.Contact.Mobile, new {@autocomplete = "off", @disabled=htmlAttributes, @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Phone Number"] })
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right buttonArea bodyContent plr-0">
                        <a href='/MasterVendor/Vendors'> <button type="button" class="lineBtn greyBtn">Cancel</button></a>
                        @* <button type="submit" class="blueBtn">Save</button> *@
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>
 
@section MyScripts {

    <script type="text/javascript" src="~/js/Custom/Vendor/VendorDetail.js?v=@jsVersion"></script>

    <script>
        //#region Setup API Url
        var CountryList = "@Eltizam.Web.Helpers.APIURLHelper.GetCountryList";
        var StateList = "@Eltizam.Web.Helpers.APIURLHelper.GetStateList";
        var CityList = "@Eltizam.Web.Helpers.APIURLHelper.GetCityList"; 
    </script>
}