@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer

@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Eltizam.Utility.Models
@model Eltizam.Business.Models.MasterDesignationEntity
@{
    ViewData["Title"] = @MasterLocalizer["DesignationManage"];
    var _header = " Designation Master";
    var _md = Model.Id > 0 ? "Edit" : "Add";
    var objPermssion = (RolePermissionModel)ViewBag.Access;
    var isAdd = objPermssion.Add ? 1 : 0;
    var isEdit = objPermssion.Edit ? 1 : 0;
    string PageHeading = "";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];

}

<form asp-action="DesignationManage">
    <main>

       
        <div class="whiteBoxShadow">
            <div class="heading position-relative">
                <h3 class="dashboardTitle">@PageHeading</h3>
            </div>
            <div class="bodyContent">
                <div class="inputSearchs">
                    <form>
                        <input type="hidden" id="isAddPerm" value="@isAdd" />
                        <input type="hidden" id="isEditPerm" value="@isEdit" />
                        @Html.HiddenFor(model => model.Id, new { @class = "control-label" })
                        <div class="flex mb-28">
                            <label for="" class="w-50">
                            @Html.LabelFor(model => model.Designation, new { @class = "control-label" })
                            <span class="text-danger">*</span>
                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["DesignationName"] } })
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                            </label>
                            <label for="" class="w-50 roleswitch">
                                Status
                                @{
                                    bool isActive = Model.IsActive == 1; // Convert 1 to true, any other value to false
                                }

                                <input type="checkbox" id="addLocation" class="input-switch" name="IsActive" value="1" @(isActive ? "checked" : "") required />
                                <label class="label-switch" for="addLocation"></label>
                                <span class="info-text"></span>
                            </label>
                        </div>

                       
                      

                        <div class="text-center buttonArea">
                            @* <button type="submit" class="blueBtn">Save</button> *@
                            <button type="submit" id="btnSaveEdit" class="bgBlue mr-12">@SharedLocalizer["Save"]</button>
                            <a class="greyBtn lineBtn formAbtn" asp-action="Designation">@SharedLocalizer["Cancel"]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</form>

@section MyScripts {

    <script type="text/javascript" src="~/js/custom/Designation/DesignationManagement.js?v=@jsVersion"></script>
}