@using Eltizam.Web.Controllers
@using Eltizam.Web.Helpers
@using Microsoft.AspNetCore.Mvc.Localization

@model Eltizam.Business.Models.ForgotPasswordViewModel
@*@inject IViewLocalizer Localizer*@
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Account> Localizer


@{
    ViewData["Title"] = @Localizer["Forget Password"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

    var error = @TempData[UserHelper.ErrorMessage];
    var success = @TempData[UserHelper.SuccessMessage];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget Password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body> 
    <!-- forget password screen -->
    <div class="loginContainer"> 
        <img src="/assets/logo.svg" alt="eltizam logo" class="logo" />
        <div class="loginBox">
            
            <form asp-action="ForgotPassword"> 
                <p>Forget Password</p>
                <p>Enter email address associated with your account</p>
                @if (error != null)
                {
                    <p class="alert alert-danger" id="errorMessage">@error</p>
                }
                @if (success != null)
                {
                    <p class="alert alert-success" id="successMessage">success</p>
                }

                <label for="userId">
                    Email 
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </label>

                <button type="submit" class="blueBtn" style="background-color:#25408F !important;">Submit</button> 
                <a asp-controller="Account" asp-action="Login" class="back-link">Back</a>
            </form>
        </div>
    </div>

   @*  <script>
        document.getElementById("backButton").addEventListener("click", function () {
            // Redirect to the login page
            window.location.href = "/login"; // Replace with the actual URL of your login page
        });
    </script> *@

</body>
</html>