@using Eltizam.Web.Helpers;
@using Eltizam.Business.Models;

@{
    var data = (GlobalAuditFields)ViewBag.FooterInfo;
    var href = "/MasterUser/" + ((data == null || data.CreatedBy == null) ? "Users" : "UserDetail?id=" + data.CreatedBy.ToString());
    var href2 = "/MasterUser/" + ((data == null || data.ModifiedBy == null) ? "Users" : "UserDetail?id=" + data.ModifiedBy.ToString());
    var href3 = "/AuditLog/AuditLogDetails?TableName=" + data?.TableName;
}

@*//Show footer for page if data exists*@
@if (data != null)
{
    <div class="whiteBoxShadow footerAuditContainer">
        <div class="bodyContent footerAudit">
            <div class=" position-relative flex justify-between align-item-center">
                <div>
                    <input type="hidden" id="CreatedBy" value="@data.CreatedBy" />

                    <span>Created By --> </span>
                    <span class="lineBtn formAbtn" href="@href">@data.CreatedByName</span>
                    <br>

                    <span>Created Date --></span>  <span class="formatted-td-date-input">@data.CreatedDate.ToString()</span>
                </div>
                <div class="flex justify-between w-30 align-item-center">
                   <div> 
                        <input type="hidden" id="ModifiedBy" value="@data.ModifiedBy" />

                        <span>Last Updated By --></span>
                        <a class="lineBtn formAbtn" href="@href2">@data.ModifiedByName</a> <br>
                        <span>Last Updated Date --></span><span class="formatted-td-date-input">@data.ModifiedDate.ToString()</span>
                    </div>
                    <div class="text-right">
                        <a href="@href3">
                            <img src="~/assets/audit-icon-blue.svg" alt="audit-icon" class="iconColorBlue cursor-pointer">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

