@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Mvc.Localization
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@{
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
    string url = @Configuration.GetSection("Apiconfig")["baseurl"];
    string ext = string.Format("api/v{0}/", @Configuration.GetSection("Apiconfig")["version"]);

    string finalURL = url + ext;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eltizam</title>
    <link rel="stylesheet" href="~/css/flatpickr.css">
    <!-- Include Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    @*   <link rel="stylesheet" href="~/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"> *@

    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminLTE/plugins/toastr/toastr.min.css" />

    <!-- Custom css by developer-->
    <link rel="stylesheet" href="~/css/custom.css?v=@jsVersion"> 
   @*  <link rel="stylesheet" href="~/css/index.css?v=@jsVersion"> *@


    <script src="~/js/e8af261920.js" crossorigin="anonymous"></script> 
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>

    <link href="~/css/style.css" rel="stylesheet" />
</head>


<body>
    <div class="flex">

        @*Loader section*@
        <div id="loading-wrapper">
            <ul>
                <li> </li>
                <li> </li>
                <li> </li>
                <li> </li>
            </ul>
        </div>

        @*Side menu bar*@
        @Html.Partial("_SideNavPartial")

        @*Main class*@
        <div class="w-100 position-relative">
            @Html.Partial("_TopHeader")

            @*Validation div*@
            <div id="errorBanner" class="accordianErrorDetails position-relative" style="display:none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span onclick="CloseBanner();" aria-hidden="true">×</span></button>
            </div>

            @RenderBody()

            @Html.Partial("_BottomHeader")
        </div>

        <input type="hidden" id="hdnAPIURL" value="@finalURL" />
        <input type="hidden" id="hdnWebBaseURL" />
        <input type="hidden" id="successToaster" value="@TempData[Eltizam.Web.Helpers.UserHelper.SuccessMessage]" />
        <input type="hidden" id="errorToaster" value="@TempData[Eltizam.Web.Helpers.UserHelper.ErrorMessage]" />
        <input type="hidden" id="ChangePasswordUrl" value="@Eltizam.Web.Helpers.APIURLHelper.ChangePassword" />
    </div>


    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Sparkline -->
    <script src="~/AdminLTE/plugins/sparklines/sparkline.js"></script>

    <!-- daterangepicker -->
    <script src="~/AdminLTE/plugins/moment/moment.min.js"></script>

    <script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- overlayScrollbars -->
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <script src="~/js/flatpickr.js"></script>

    @Html.Partial("_ValidationScriptsPartial")

    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/moment-with-locales.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/AdminLTE/plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/js/custom/main.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/CustomDateFormat.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/JqueryExtension.js?v=@jsVersion"></script>
    <script type="text/javascript" Src="~/js/custom/commonscript.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/topheader.js"></script>
    <!-- Include Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("MyScripts", required: false)
</body>

</html>