@using Eltizam.Web.Helpers;

@{
    var _UId = @Context.Session.GetString(UserHelper.LogInUserId); 
    var _UName = @Context.Session.GetString(UserHelper.LogInUserName); 
    var _URoleId = @Context.Session.GetString(UserHelper.LogInRoleId);
    var _act = "/MasterUser/UserManage?id=" + _UId;  
}

@* @model Eltizam.Business.Models.ChangePasswordModel *@
<header class="flex justify-between align-item-center">
    <div class="hamburger-icon cursor-pointer" onClick="sideNavToggle()"><img src="~/assets/hamburger-icon.svg" alt="hamburger-icon" class="visible-in-web" /> <img src="~/assets/arrow-narrow-right.svg" alt="arrow-narrow-right" class="visible-in-mobile"></div>
    <div class="user flex">
        <div class="position-relative notification">
            <img src="~/assets/bell.svg" alt="bell" class="cursor-pointer" />
            <span> 0 </span>
        </div> 

        <div class="flex align-item-center position-relative" onclick="profileMenu()">
            <input type="hidden" id="LogInUserId" value="@_UId" />
            <input type="hidden" id="LogInRoleId" value="@_URoleId" />

            <p class="visible-in-web">@_UName</p>
            <img src="~/assets/arrow-down.svg" alt="arrow-down" class="cursor-pointer visible-in-web" />
            <div id="profileMenu" class="actionItem" style="width: 80%;display: none;margin-left: 2em;">
                <ul>
                    <li>
                        <a href="@_act">
                            Manage profile
                        </a>
                    </li>
                    <li> 
                       <a id="addRole">Change password</a>
                     </li>
                    <li>
                        <form asp-action="Logout" asp-controller="Account" method="post">
                            <button class="dropdown-item" type="submit">
                                <i class="fas fa-sign-out-alt mr-2"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>   
</header>


<div class="popup-overlay" id="popup-addRole-overlay">
    <div class="popup">
        <div class="content text-center" style="width:460px">
            <div class="popup-head position-relative">
                Change Password
                <img src="../assets/x.svg" alt="x" id="closePopup" class="addRoleClose">
            </div>
            <div class="popup-action inputSearchs">
                <form>
                    <div class="flex text-left">
                        <label class="w-100" for="">
                            New Password 
                              <input id="NewPassword" type="password" placeholder="Enter Password">
                            <div id="newPasswordError" class="error-message"></div> 
                        </label>

                    </div>
                    <div class="flex text-left">
                        <label class="w-100" for="">
                            Confirm Password 
                               <input id="ConfirmPassword" type="password" placeholder="Confirm New Password">
                            <div id="confirmPasswordError" class="error-message"></div>
                        </label>
                    </div>

                    <div class="buttonArea centerBtn"> 
                        <button type="button" onclick="PosttopHeader();" class="bgBlue">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 


