@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model Eltizam.Business.Models.TblUserModel
@{
    ViewData["Title"] = @MasterLocalizer["TblUserManage"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}

<form asp-action="TblUserManage" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="content-header">
        <div class="container-fluid d-flex justify-content-between">
            @if (Model.Id > 0)
            {
                <h3>@MasterLocalizer["UpdateUser"].Value</h3>
            }
            else
            {
                <h3>@MasterLocalizer["AddUser"].Value</h3>
            }
        </div>
    </div>
    <div class="container-fluid overflow-auto background-white-card">

        <div class="row">

            <div class="col-4 mb-4">
                <div class="form-group required">
                    @Html.LabelFor(model => model.Name,"Name", new { @class = "control-label" })
                    <span class="text-danger">*</span>
                    @Html.TextBoxFor(model => model.Name, new {@autocomplete = "off", @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["Name"] })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="form-group required">
                    @Html.LabelFor(model => model.Email, @SharedLocalizer["EmailAddress"],new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Email, new { @autocomplete = "off", @class = "form-control checkbox-checked readOnlyUpdate", @placeholder = @SharedLocalizer["Email"] })
                    @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-3 mb-4" style="width:calc(33% - 130px);">
                <div class="form-group required">
                    @Html.LabelFor(model => model.Mobile, @SharedLocalizer["Mobile"],new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Mobile, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["Mobile"] })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Id <= 0)
            {

                <div class="col-4 mb-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                        <span class="text-danger">*</span>
                        @Html.PasswordFor(model => model.Password, new { @autocomplete = "off", @id = "password1", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["Password"], @required = "" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ConfirmPassowrd, @SharedLocalizer["ConfirmPassword"], new { @class = "control-label" })
                        <span class="text-danger">*</span>
                        @Html.PasswordFor(model => model.ConfirmPassowrd, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["ConfirmPassword"] })
                        @Html.ValidationMessageFor(model => model.ConfirmPassowrd, "", new { @class = "text-danger" })
                    </div>
                </div>

            }
            <div class="col-4 mb-4">
                <div class="form-group required">
                    <div class="form-group required">
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox-checked", @checked = "checked" })
                        @Html.LabelFor(model => model.IsActive)
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mb-4 text-end">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success me-3 large-button">@SharedLocalizer["Save"]</button>
                            <a class="btn btn-danger ms-3 large-button" asp-action="TblUser" asp-controller="User">@SharedLocalizer["Cancel"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</form>
@section MyScripts {
    <link rel="stylesheet" href="~/AdminLTE/plugins/select2/css/select2.min.css" />
    <script type="text/javascript" src="~/js/Custom/TblUser/TblUserManage.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/AdminLTE/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/js/Custom/SelectAllAdaptor.js?v=@jsVersion"></script>
    <script>
        var EditLabel = "@SharedLocalizer["Edit"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordInsertUpdate = "@SharedLocalizer["RecordInsertUpdate"]";
        var AddLabel = "@SharedLocalizer["Add"]";
        var UpdateLabel = "@SharedLocalizer["Update"]";
        var errorCallBack = '@TempData[Eltizam.Web.Helpers.UserHelper.ErrorMessage]';
        if (errorCallBack) {
            toastr.error(errorCallBack);
        }
                    
    </script>
}