@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer

@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model Eltizam.Business.Models.MasterDepartmentEntity
@{
    ViewData["Title"] = @MasterLocalizer["DepartmentManage"];
    string PageHeading = "";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];

}


      
    <form asp-action="DepartmentManage">       
    <main>
                        <div class="whiteBoxShadow">
                            <div class="heading position-relative">
                                <h3 class="dashboardTitle">Department Master</h3>
                            </div>
                            <div class="bodyContent">
                                <div class="inputSearchs">
                                    <form>
                                        <div class="flex">
                        @Html.LabelFor(model => model.Department, new { @class = "control-label" })
                        <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["RoleName"] } })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                        @{
                            bool isActive = Model.IsActive == 1; // Convert 1 to true, any other value to false
                        }

                        <input type="checkbox" id="addLocation" class="input-switch" name="IsActive" value="1" @(isActive ? "checked" : "") required />
                        <label class="label-switch" for="addLocation"></label>
                                        </div>
                                        <div class="text-center buttonArea">
                                            @* <button type="submit" class="blueBtn">Save</button> *@
                            <button type="submit" id="btnSaveRole" class="bgBlue mr-12">@SharedLocalizer["Save"]</button>
                            <a class="greyBtn lineBtn formAbtn" asp-action="Department">@SharedLocalizer["Cancel"]</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>
                 </form>
                 
@section MyScripts {

    <script type="text/javascript" src="~/js/Custom/Department/DepartmentManagement.js?v=@jsVersion"></script>
}     