@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer

@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model Eltizam.Business.Models.Master_PropertyTypeModel
@{
    ViewData["Title"] = @MasterLocalizer["Property Type Manage"];
    string PageHeading = "";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];

}

<form asp-action="PropertyTypeManage" method="post">
    <main>
        <div class="whiteBoxShadow">
            <div class="heading position-relative">
                <h3 class="dashboardTitle">Property Sub Type</h3>
            </div>
            <div class="bodyContent">
                <div class="inputSearchs">
                    @Html.HiddenFor(model => model.Id, new { @class = "control-label" })
                    <div class="flex mb-28">
                        <label for="" class="w-50">
                            @Html.LabelFor(model => model.PropertyType, new { @class = "control-label" })
                            <span class="text-danger">*</span>
                            @Html.EditorFor(model => model.PropertyType, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["Property Type Name"] } })
                            @Html.ValidationMessageFor(model => model.PropertyType, "", new { @class = "text-danger" })
                        </label>
                        <label for="" class="w-50">
                          
                            @Html.LabelFor(model => model.subType.PropertySubType,"Property SubType", new { @class = "control-label" })
                            <span class="text-danger">*</span>
                            @Html.DropDownListFor(model => model.Id, new List<SelectListItem> { }, new { @class = "form-control", @multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                        </label>
                    </div>
                                   
                    <div class="text-center buttonArea">
                        <button type="submit" id="btnSaveRole" class="bgBlue mr-12">@SharedLocalizer["Save"]</button>
                        <a class="greyBtn lineBtn formAbtn" asp-action="Designation">@SharedLocalizer["Cancel"]</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</form>

@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <link rel="stylesheet" href="~/AdminLTE/plugins/select2/css/select2.min.css" />
    <script type="text/javascript" src="~/js/Custom/PropertyType/PropertyType.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/AdminLTE/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/js/Custom/SelectAllAdaptor.js?v=@jsVersion"></script>
    <script>

        //#region Setup API Url
        var AllSubPropertyType = "@Eltizam.Web.Helpers.APIURLHelper.GetAllSubProperty";
     
        
        //#region Static Messae Init
        var EditLabel = "@SharedLocalizer["Edit"]";
        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordInsertUpdate = "@SharedLocalizer["RecordInsertUpdate"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var AddLabel = "@SharedLocalizer["Add Region"]";
        var UpdateLabel = "@SharedLocalizer["Edit Region"]";
                        //#endregion
    </script>
}


