@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@using Eltizam.Utility.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model Eltizam.Business.Models.MasterDepartmentEntity
@{
    ViewData["Title"] = @MasterLocalizer["DictionaryManage"];
    var _header = " Department Master";
    var _md = Model.Id > 0 ? "Edit" : "Add";
    var objPermssion = (RolePermissionModel)ViewBag.Access;
    var isAdd = objPermssion.Add ? 1 : 0;
    var isEdit = objPermssion.Edit ? 1 : 0;
    string PageHeading = "";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];

}



<form asp-action="DepartmentManage">
    <main>

        <h3 class="dashboardTitle">@_md @_header</h3>
        <div class="whiteBoxShadow">
            <div class="heading position-relative">
                <h3 class="dashboardTitle">@PageHeading</h3>
            </div>
            <div class="bodyContent">
                <div class="inputSearchs">
                    <form>

                        <input type="hidden" id="isAddPerm" value="@isAdd" />
                        <input type="hidden" id="isEditPerm" value="@isEdit" />
                        <div class="flex mb-28">
                            @Html.HiddenFor(model => model.Id, new { @class = "control-label" })
                            <label for="" class="w-50">
                                @Html.LabelFor(model => model.Department, new { @class = "control-label" })
                                <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["Department Name"] } })
                                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                            </label>
                            <label for="" class="w-50 roleswitch">
                                Status
                                @{
                                    bool isActive = Model.IsActive == 1; // Convert 1 to true, any other value to false
                                }

                                <input type="checkbox" id="addLocation" class="input-switch" name="IsActive" value="1" @(isActive ? "checked" : "") required />
                                <label class="label-switch" for="addLocation"></label>
                                <span class="info-text"></span>
                            </label>

                        </div>

                        <div class="text-center buttonArea">

                            <button type="submit" id="btnSaveEdit" class="bgBlue mr-12">@SharedLocalizer["Save"]</button>
                            <a class="greyBtn lineBtn formAbtn" asp-action="Department">@SharedLocalizer["Cancel"]</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </main>
</form>

@section MyScripts {

    <script type="text/javascript" src="~/js/custom/Department/DepartmentManagement.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/custom\commonscript.js"></script>
}     