@using Eltizam.Business.Models;
@model AuditLogModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
    var _header = "Audit Logs Details";
    var _md = "View";
    ViewData["Title"] = _header;
}

<div class="flex">
    <div class="w-100 position-relative">
        <main class="w-100">
            <div class="flex justify-between mt-20 mobile_flexColumn position-relative">
                <h3 class="dashboardTitle">Log History</h3> 
            </div>

            <div class="accordion valueAdvance"> 
                <input type="checkbox" id="section1" class="advancedSearch visible-in-web">
                <label for="section1" class="advaceSearhBtn" onclick="assignToggleFilter()"><img src="../assets/filter.svg" alt="filterSearch" /></label>
                <div class="accordion-content inputSearchs" id="assignToggleFilter" style="width:35em;">
                    <div class="flex justify-between">
                        <h5>Advanced Search</h5>
                        <span class="cursor-pointer" onclick="assignToggleFilter()">X</span>
                    </div>
                    <form> 
                        <div class="flex flex-start"> 
                            <label for="fromDate">
                                <p class="m-0">From</p>
                                <input type="text" id="FromDate" class="formatted-date-input" name="FromDate" asp-for="FromDate">
                            </label>
                            <label for="toDate">
                                <p class="m-0">To</p>
                                <input type="text" id="ToDate" class="formatted-date-input" name="ToDate" asp-for="ToDate">
                            </label>
                        </div>

                        <div class="text-center">
                            <button type="button" class="blueBtn" onclick="InitializeAuditLogHistoryList()">Search</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="scroll-x whiteWithPadding">
                <input type="hidden" id="tableName" value=@ViewBag.Filter.TableName />
                <input type="hidden" id="alid" value="@ViewBag.Filter.Id" />
                <input type="hidden" id="tableKey" value="@ViewBag.Filter.TableKey" />

                <table id="AuditLogHistory" class="table table-bordered table-striped table-hover dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Updated By</th>
                            <th>Updated Date</th>
                            <th>Field Name</th>
                            <th>Before Update</th>
                            <th>After Update</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </main>

    </div>
</div>


@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/custom/DynamicDataTable.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/AuditLog/AuditDetailsLogs.js?v=@jsVersion"></script>

    <script>
        var AllAudit = "@Eltizam.Web.Helpers.APIURLHelper.GetAllAudit";
        var DeleteClient = "@Eltizam.Web.Helpers.APIURLHelper.DeleteClient";
        var GetAuditTableNameList = "@Eltizam.Web.Helpers.APIURLHelper.GetAuditTableName";
        var GetUserNameList = "@Eltizam.Web.Helpers.APIURLHelper.GetUserNameList";
        var AllAuditDetails = "@Eltizam.Web.Helpers.APIURLHelper.GetAuditDetails";
    </script>
}
