@using Eltizam.Business.Models;
@model AuditData
@{
    var _header = "Audit Logs";
    var _md = "View";
    ViewData["Title"] = _header; 
}

<main>
    <div class="whiteBoxShadow">
        <div class="heading position-relative flex justify-between">
            <h3 class="dashboardTitle">View Audit Log</h3>
            <div class="hamburger">
                <a class="greyBtn lineBtn formAbtn" asp-action="Logs">@_header</a>
                <img src="../assets/right-arrow.svg" alt="hamburger-icon" />
                <span>@_md</span>
            </div>
        </div>
        <div class="bodyContent p-0">
            <div class="tabcontent m-0" style="display: block;">
                <div class="auditLog-acc roundBorderBox">

                    @*   <div class="flex justify-between accordianDetails position-relative" onclick="accordianToggle(this)">
                    <p>Created By: <b>@res.CreatedByName</b></p>
                    <div class="flex align-item-center">
                    <p style=" margin: 0 35px;">Created Date: <b>@res.CreatedDate?.ToString("dd/MMM/yyyy")</b></p>

                    <img src="../assets/right-arrow.svg" alt="right-arrow" class="right-arrow-menu">
                    </div>
                    </div>  *@

                    <div class="panel mt-28">
                        <div class="flex m-0">
                            <table class="table-striped">
                                @* multipleValueTable *@
                                <thead>
                                    <tr>
                                        <th>Updated By</th>
                                        <th>Updated Date</th>
                                        <th>Field Name</th>
                                        <th>Before Update</th>
                                        <th>After Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var res in Model._object)
                                    {
                                        @foreach (var a in res.AuditLogListData)
                                        {
                                            @if (a.PropertyName != "Id" && a.PropertyName != "CreatedBy" && a.PropertyName != "CreatedDate" && a.PropertyName != "ModifiedBy" && a.PropertyName != "ModifiedDate")
                                            {
                                                <tr>
                                                    <td>@res.CreatedByName</td>
                                                    <td>@res.CreatedDate</td>
                                                    <td>@a.PropertyName</td>
                                                    <td>@a.OldValue</td>
                                                    <td>@a.NewValue</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*    <div class="tabcontent m-0" style="display: block;">
            <div class="auditLog-acc roundBorderBox">
            <div class="flex justify-between accordianDetails position-relative" onclick="accordianToggle(this)">
            <p>Created By: <b>Yalla Reddy</b></p>
            <div class="flex align-item-center">
            <p style=" margin: 0 35px;">Created Date: <b>11/5/2023</b></p>
            <img src="../assets/right-arrow.svg" alt="right-arrow" class="right-arrow-menu">
            </div>
            </div>
            <div class="panel mt-28">
            <div class="flex m-0">
            <table class="multipleValueTable">
            <thead>
            <tr>
            <th>Time</th>
            <th>Field Name</th>
            <th>Old</th>
            <th>New</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>10:11:43 PM</td>
            <td>First Name</td>
            <td>Yalla</td>
            <td>Yallaa</td>
            </tr>
            <tr>
            <td>10:11:43 PM</td>
            <td>First Name</td>
            <td>Yalla</td>
            <td>Yallaa</td>
            </tr>

            </tbody>
            </table>
            </div>
            </div>
            </div>

            </div> *@

            @*  <div class="tabcontent m-0" style="display: block;">
            <div class="auditLog-acc roundBorderBox">
            <div class="flex justify-between accordianDetails position-relative" onclick="accordianToggle(this)">
            <p>Created By: <b>Yalla Reddy</b></p>
            <div class="flex align-item-center">
            <p style=" margin: 0 35px;">Created Date: <b>11/5/2023</b></p>
            <img src="../assets/right-arrow.svg" alt="right-arrow" class="right-arrow-menu">
            </div>
            </div>
            <div class="panel mt-28">
            <div class="flex m-0">
            <table class="multipleValueTable">
            <thead>
            <tr>
            <th>Time</th>
            <th>Field Name</th>
            <th>Old</th>
            <th>New</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>10:11:43 PM</td>
            <td>First Name</td>
            <td>Yalla</td>
            <td>Yallaa</td>
            </tr>
            <tr>
            <td>10:11:43 PM</td>
            <td>First Name</td>
            <td>Yalla</td>
            <td>Yallaa</td>
            </tr>

            </tbody>
            </table>
            </div>
            </div>
            </div>

            </div> *@
        </div>
    </div>
</main>