@using Eltizam.Utility.Models;
@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor 
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration 
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@model Eltizam.Business.Models.AuditLogModel
@{
    ViewData["Title"] = "Audit Logs";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
<!-- system user master -->
<div class="flex">
    <div class="w-100 position-relative">
        <main class="w-100">
            <div class="flex justify-between mt-20 mobile_flexColumn position-relative">
                <h3 class="dashboardTitle">AUDIT LOGS</h3> 
            </div>

            <div class="accordion valueAdvance">

                <input type="checkbox" id="section1" class="advancedSearch visible-in-web">
                <label for="section1" class="advaceSearhBtn" onclick="assignToggleFilter()"><img src="../assets/filter.svg" alt="filterSearch" /></label>
                <div class="accordion-content inputSearchs" id="assignToggleFilter" style="width:45em;">
                    <div class="flex justify-between">
                        <h5>Advanced Search</h5>
                        <span class="cursor-pointer" onclick="assignToggleFilter()">X</span>
                    </div>

                    <form id="auditLogFilterForm">
                        <div class="flex flex-start"> 
                            <label for="UserName">
                                <p class="m-0">UserName</p>
                                @Html.DropDownListFor(model => model.UserName, new List<SelectListItem> { }, new { id = "UserName", @class = "form-control searchable-dropdown" })
                            </label>
                            <label for="ParentTableName">
                                <p class="m-0">TableName</p>
                                @Html.DropDownListFor(model => model.ParentTableName, new List<SelectListItem> { }, new { id = "ParentTableName", @class = "form-control searchable-dropdown" })
                            </label>
                            <label for="fromDate" style="margin-left:0px;">
                                <p class="m-0">From</p>
                                <input type="text" id="FromDate" class="formatted-date-input" name="FromDate" asp-for="FromDate">
                            </label>
                            <label for="toDate">
                                <p class="m-0">To</p>
                                <input type="text" id="ToDate" class="formatted-date-input" name="ToDate" asp-for="ToDate">
                            </label>
                        </div>

                        <div class="text-center">
                            <button type="button" class="blueBtn" onclick="InitializeAuditLogList()">Search</button>
                            <button type="button" onclick="clearSearchFields()" class="blueBtn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="scroll-x whiteWithPadding">
                <table id="AuditLogTable" class="table table-bordered table-striped table-hover dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                            <th>Action Type</th>
                            <th>Module Name</th> 
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </main>

    </div>
</div>

 
@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/custom/DynamicDataTable.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/AuditLog/AuditLogs.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/custom/AuditLog/AuditLogsFilter.js?v=@jsVersion"></script>

    <script>
        //#region Setup API Url
        var AllAudit = "@Eltizam.Web.Helpers.APIURLHelper.GetAllAudit";
        var DeleteClient = "@Eltizam.Web.Helpers.APIURLHelper.DeleteClient";
        var GetAuditTableNameList = "@Eltizam.Web.Helpers.APIURLHelper.GetAuditTableName";
        var GetUserNameList = "@Eltizam.Web.Helpers.APIURLHelper.GetUserNameList";
    </script>
}
